@model RapidDoc.Models.ViewModels.GroupProcessView
@using RapidDoc.Extensions;

@{
    ViewBag.Title = UIElementRes.UIElement.Edit;
}

<h2>@UIElementRes.UIElement.Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.GroupProcessName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GroupProcessName, new { @class = "form-control", @size = 20, @maxlength = 20, placeholder = "Requests", @autofocus = "required", @x_webkit_speech = "" })
            @Html.ValidationMessageFor(model => model.GroupProcessName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberSeriesName)
        </div>
        <div class="editor-field">
            @Html.DropDownList("NumberSeriesTableId", (IEnumerable<SelectListItem>)ViewBag.NumberSeqList, new { @class = "selectpicker", @data_live_search = "true", @data_size = "10" })
            @Html.ValidationMessageFor(model => model.NumberSeriesTableId)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.GroupProcessParentName)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupProcessParentId", (IEnumerable<SelectListItem>)ViewBag.GroupProcessParent, new { @class = "selectpicker", @data_live_search = "true", @data_size = "10" })
            @Html.ValidationMessageFor(model => model.GroupProcessParentId)
        </div>

        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/editentity")
}
@section jslaunch {
    selectpicker_init();
}