@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <title>DOCFLOW</title>
    <style type="text/css">
        /* Resets: see reset.css for details */
        .ReadMsgBody {
            width: 100%;
            background-color: #ebebeb;
        }

        .ExternalClass {
            width: 100%;
            background-color: #ebebeb;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        body {
            margin: 0;
            padding: 0;
        }

        table {
            border-spacing: 0;
        }

            table td {
                border-collapse: collapse;
            }

        .yshortcuts a {
            border-bottom: none !important;
        }

        a {
            color: #2BA6CB;
        }

        /* Constrain email width for small screens */
        @@media screen and (max-width: 600px) {
            table[class="container"] {
                width: 95% !important;
            }
        }

        /* Give content more room on mobile */
        @@media screen and (max-width: 480px) {
            td[class="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }
    </style>
</head>
<body style="margin:0; padding:10px 0;" bgcolor="#F1F1F1" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F1F1F1">
        <tr>
            <td align="center" valign="top" bgcolor="#F1F1F1" style="background-color: #F1F1F1;">
                <table border="0" width="800" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff">
                    <tr>
                        <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;">
                            <br />
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="width:100px">
                                            <table cellpadding="15" cellspacing="0" style="background-color: #2c3e50">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div style="font-weight: normal; background-color: #2c3e50; color: #ffffff; text-align: center; font-size: 8px">
                                                                <div style="text-align:center; font-size:24px">DOCFLOW</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <p>@Model.BodyText:</p>
                                <h3><a href="@Model.DocumentUri">@Model.DocumentNum</a></h3>
                                <h5>Текст:</h5>
                                <p>@Model.DocumentText</p>
                                @if (@ViewBag.AdditionalText != null && @ViewBag.AdditionalText != String.Empty)
                                {
                                    <h5>Сопроводительный текст:</h5>
                                    <p>@ViewBag.AdditionalText</p>
                                }
                            </div>
                            <br />
                            <div bgcolor="#ebebeb" style="background-color: #ebebeb;">
                                <div style="padding: 10px;">
                                    <h4 class="">Cлужба поддержки:</h4>
                                    <p>
                                        Телефон: <strong>11-11</strong><br />
                                        Почта: <strong><a href="emailto:support@altyntau.com">support@altyntau.com</a></strong><br />
                                        Сайт: <strong><a href="http://df.altyntau.com/">http://df.altyntau.com</a></strong>
                                    </p>
                                </div>
                            </div>
                            <br />
                            <div style="color: #b4bcc2; font-size: 75%;">Внимание! Это письмо было сгенерировано автоматически.</div>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
</body>
</html>