@model RapidDoc.Models.ViewModels.TripSettingsView
@using RapidDoc.Extensions;

@{
    ViewBag.Title = "Новая норма";
}

<h2>Новая норма</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.EmplTripType)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.EmplTripType, new { @class = "selectpicker" })
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.TripDirection)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.TripDirection, new { @class = "selectpicker" })
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.DayRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayRate)
            @Html.ValidationMessageFor(model => model.DayRate)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.ResidenceRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResidenceRate)
            @Html.ValidationMessageFor(model => model.ResidenceRate)
        </div>
     
        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/editentity")
}
@section jslaunch {
<script type="text/javascript">
$(function () {
    selectpicker_init();
});
</script>
}