@{
    ViewBag.Title = CustomRes.Custom.TripSettings;
}

<h2>@CustomRes.Custom.TripSettings</h2>

@{Html.RenderPartial("_NewEntityBtn");}

<div>
    @Html.Action("Grid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
    grid_init("@Url.Action("GetTripSettingsList", "TripSettings")")

    var detailsUrl = '@Url.Action("Edit", "TripSettings")';
    pageGrids.ordersGrid.onRowSelect(function (e) {
    window.location.href = detailsUrl  + '/' + e.row.Id;
    });
}