@model RapidDoc.Models.ViewModels.WorkScheduleView
@using RapidDoc.Extensions;

@{
    ViewBag.Title = UIElementRes.UIElement.Detail;
}

<h2>@UIElementRes.UIElement.Detail</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
        @Html.LabelFor(model => model.CreatedBy)
    </div>
    <div class="display-field text-danger">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.CreatedDate)
    </div>
    <div class="display-field text-danger">
        @Html.DateTimeLocalFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ModifiedBy)
    </div>
    <div class="display-field text-danger">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ModifiedDate)
    </div>
    <div class="display-field text-danger">
        @Html.DateTimeLocalFor(model => model.ModifiedDate)
    </div>
</fieldset>
<br>
<br>
<p>
    @Html.ActionLink(UIElementRes.UIElement.Back, "Index")
</p>
