@model RapidDoc.Models.ViewModels.ChangePassword
@using RapidDoc.Extensions;

@{
    ViewBag.Title = UIElementRes.UIElement.ChangePassword;
}

<h2>@UIElementRes.UIElement.ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelForRequired(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @size = 256, @maxlength = 256 })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @size = 256, @maxlength = 256 })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}