@{
    ViewBag.Title = UIElementRes.UIElement.Staff;
}

<h2>@UIElementRes.UIElement.Staff</h2>

@{Html.RenderPartial("_NewEntityBtn");}

<div>
    @Html.Action("Grid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
    grid_init("@Url.Action("GetEmplList", "Empl")")

    var detailsUrl = '@Url.Action("Edit", "Empl")';
    pageGrids.ordersGrid.onRowSelect(function (e) {
    window.location.href = detailsUrl  + '/' + e.row.Id;
    });
}