@model IEnumerable<RapidDoc.Models.ViewModels.GroupProcessView>

@{
    ViewBag.Title = UIElementRes.UIElement.CreateProcess;
}
<h1>@UIElementRes.UIElement.CreateProcess</h1>
<hr />
@using (Ajax.BeginForm("SearchProcess", new AjaxOptions { UpdateTargetId = "searchResult", OnComplete = "clearTextSearch" }))
{
<div class="row">
    <div class="col-md-2"><p class="featurette-heading">Найти</p></div>
    <div class="col-md-9">
        <div class="form-group">
            @Html.TextBox("SearchText", "", new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = UIElementRes.UIElement.SearchText, @x_webkit_speech = "" })
        </div>
    </div>
    <div class="col-md-1">
        <input class="btn btn-primary" type="submit" value=@UIElementRes.UIElement.Search />
    </div>
</div>
}
<div id="searchResult"></div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-2"><p class="featurette-heading">Выбрать</p></div>
    <div class="col-md-10">
        <ol class="breadcrumb">
            <li><a href=@Url.Action("Index", "Home")>@UIElementRes.UIElement.Dashboard</a></li>
            <li class="active">@UIElementRes.UIElement.GroupProcesses</li>
        </ol>
        @Html.ValidationSummary(true)
        @foreach (var item in Model)
        {

            <div class="col-sm-4 col-md-4">
                <a href=@Url.Action("ProcessList", "NewProcess", new { groupProcessId = item.Id }) class="thumbnail">
                    <h4 class="text-center">@item.GroupProcessName</h4>
                </a>
            </div>
        }
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-2"><p class="featurette-heading">ТОП</p></div>
    <div class="col-md-10">
        @foreach (var item in (List<RapidDoc.Models.ViewModels.ProcessView>)ViewBag.TopProcess)
        {
            <div class="col-xs-6 col-md-4">
                <a href=@Url.Action("Create", "Document", new { id=item.Id }) class="thumbnail tile">
                    <h4>@item.ProcessName</h4>
                    <p>@item.Description</p>
                </a>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function clearTextSearch(result) {
        $('#SearchText').val('');
    }
</script>



