@{
    ViewBag.Title = UIElementRes.UIElement.NumberSeqs;
}

<h2>@UIElementRes.UIElement.NumberSeqs</h2>

@{Html.RenderPartial("_NewEntityBtn");}

<div>
    @Html.Action("Grid")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
<script type="text/javascript">
$(function () {
    grid_init("@Url.Action("GetNumberSeriesList", "NumberSeq")")

    var detailsUrl = '@Url.Action("Edit", "NumberSeq")';
    pageGrids.ordersGrid.onRowSelect(function (e) {
    window.location.href = detailsUrl  + '/' + e.row.Id;
    });
});
</script>
}