 @{
    ViewBag.Title = UIElementRes.UIElement.Dashboard;
}

<br class="hidden-print">
<ul class="nav nav-tabs" role="tablist">
    <li><a href="@Url.Action("Index", "Home")"><span class="fa fa-tasks"></span> @UIElementRes.UIElement.MyProcesses</a></li>
    <li><a href="@Url.Action("AgreedDocuments", "Document")"><span class="fa fa-check-circle"></span> @UIElementRes.UIElement.AgreedDocument</a></li>
    <li><a href="@Url.Action("Index", "HistoryUser")"><span class="fa fa-list"></span> @UIElementRes.UIElement.History</a></li>
    <li class="active"><a href="@Url.Action("ArchiveDocuments", "Document")"><strong><span class="fa fa-archive"></span> @UIElementRes.UIElement.DocumentArchive</strong></a></li>
</ul>

<div>
    @Html.Action("GetArchiveDocument", "Document")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
@section jslaunch {
    grid_init("@Url.Action("GetArchiveDocumentList", "Document")")

    var detailsUrl = '@Url.Action("ShowDocument", "Document")';
    pageGrids.ordersGrid.onRowSelect(function (e) {
    window.location.href = detailsUrl  + '/' + e.row.Id;
    });

    $('.popover-link').popover({
        trigger: 'hover'
    })
}