@using GridMvc.Html;
@{
    ViewBag.Title = UIElementRes.UIElement.Dashboard;
}

<br class="hidden-print">
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#"><strong><span class="fa fa-tasks"></span> @UIElementRes.UIElement.MyProcesses</strong></a></li>
    <li><a href="@Url.Action("AgreedDocuments", "Document")"><span class="fa fa-check-circle"></span> @UIElementRes.UIElement.AgreedDocument</a></li>
    <li><a href="@Url.Action("Index", "HistoryUser")"><span class="fa fa-list"></span> @UIElementRes.UIElement.History</a></li>
    <li><a href="@Url.Action("ArchiveDocuments", "Document")"><span class="fa fa-archive"></span> @UIElementRes.UIElement.DocumentArchive</a></li>
</ul>

<div>
    @Html.Action("GetAllDocument", "Document")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}

@section jslaunch {
<script type="text/javascript">
$(function () {
    grid_init("@Url.Action("GetDocumentList", "Document")");
    popover_init();

    pageGrids.ordersGrid.onRowSelect(function (e) {
        window.location.href = '/' + e.row.AliasCompanyName + '/' + 'Document/ShowDocument/' + e.row.Id;
    });
});
</script>
}