@model RapidDoc.Models.ViewModels.ServiceIncidentView
@using RapidDoc.Extensions;

@{
    ViewBag.Title = UIElementRes.UIElement.CreateServiceIncident;
}

<h2>@UIElementRes.UIElement.CreateServiceIncident</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelForRequired(model => model.ServiceName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ServiceName, new { @class = "form-control", @size = 70, @maxlength = 70, placeholder = "IT Incident", @autofocus = "required", @x_webkit_speech = "" })
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Incident Management", @x_webkit_speech = "" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SLAIncident)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SLAIncident, new { @class = "form-control bfh-number" })
            @Html.ValidationMessageFor(model => model.SLAIncident)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoleTableId", (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "selectpicker", @data_live_search = "true", @data_size = "10" })
            @Html.ValidationMessageFor(model => model.RoleTableId)
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.ServiceIncidientPriority)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ServiceIncidientPriority, new { @class = "selectpicker" })
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.ServiceIncidientLevel)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ServiceIncidientLevel, new { @class = "selectpicker" })
        </div>

        <div class="editor-label">
            @Html.LabelForRequired(model => Model.ServiceIncidientLocation)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.ServiceIncidientLocation, new { @class = "selectpicker" })
        </div>
     
        @{Html.RenderPartial("SaveBackBtn");}
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/editentity")
}
@section jslaunch {
<script type="text/javascript">
$(function () {
    selectpicker_init();
});
</script>
}