@model RapidDoc.Models.ViewModels.USK_REQ_IT_CTP_IncidentIT_View
@using RapidDoc.Extensions;

<div class="editor-label hidden-print">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field hidden-print">
    @Html.DisplayTextFor(model => Model.Phone)
</div>
<div class="editor-label hidden-print">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field hidden-print">
    @Html.DisplayTextFor(model => Model.RequestText)
</div>
<div class="editor-label hidden-print">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field hidden-print">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>