@model RapidDoc.Models.ViewModels.USR_REQ_SGMZIF_RequestForRepair_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelFor(model => Model.Date)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Date)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Information)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Information)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Contact)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Telephone)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Equipment)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Equipment)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.DescriptionFail)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DescriptionFail)
</div>
<h4 class="text-info">Основные данные</h4>
<div class="editor-label">
    @Html.LabelFor(model => Model.TypeEngine)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.TypeEngine)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.PowerEngine)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PowerEngine)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Speed)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Speed)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Current)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Current)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Voltage)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Voltage)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.SchemeConnection)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.SchemeConnection)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.RateDefense)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RateDefense)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.InstallPerformance)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.InstallPerformance)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.SerialNumber)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.SerialNumber)
</div>