@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateNetworkFolder_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.AccessRight)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.AccessRight, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Path)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Path, new { @class = "form-control", @rows = "1", placeholder = "Наименование сетевой папки", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.NetworkFolder)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.NetworkFolder, new { @class = "form-control", @rows = "1", placeholder = "Полный путь к сетевой папке", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Берик Серикович" })
</div>