@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_ReplacementWorkPlace_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.WorkPlaceMovementType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.WorkPlaceMovementType, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.FromPlace)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromPlace)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToPlace)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToPlace)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>