@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            @Html.EnumToDescription(Model.Folder) / @Html.DisplayTextFor(model => Model.ItemCauseNumber)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => Model.DocumentTitle):
    </div>
    <div class="col-md-10">
        @Html.DisplayTextFor(model => Model.DocumentTitle)
    </div>
</div>
<hr />
<div class="well">
    @Html.DisplayTextFor(model => Model.MainField)
</div>

<div class="modal fade addusers-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@CustomRes.Custom.Users</h4>
                </div>
                <div class="modal-body" style="min-height:600px; left:auto">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-group-addon" style="padding-right: 10px;">
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <strong>Маршрут:</strong>
                                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".documentwhom-modal"><span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-left">
                                        <br />
                                        @Html.CheckBox("IsParallel", new { @data_labelauty = "Параллельно|Параллельно" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            @Html.TextBox("Flow", "", new { @class = "form-control", @data_role = "tagsinputGroup2", @size = 256, @maxlength = 256, placeholder = "Маршрут" })
                        </div>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-lg hidden-print" name="action:AddUsersDocumentCZ">@UIElementRes.UIElement.AddUsers</button>
                    </div>
            </div>
        </div>
    </div>
</div>