@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_EquipmentInstallation_View
@{
    Model.NumberEquipment = 1;   
}
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NameEquipment)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.NameEquipment, new { @class = "form-control", @rows = "2", placeholder = "Наименование оборудования", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.NumberEquipment)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.NumberEquipment, new { @class = "form-control bfh-number" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Location)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Location, new { @class = "form-control", @rows = "1", placeholder = "Местоположение", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "10", placeholder = "Описание", @autofocus = "required" })
</div>