@model RapidDoc.Models.ViewModels.USR_REQ_UB_RequestForImportORZZIF_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Count)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Count)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.DeparturePlace)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.DeparturePlace)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.DestinationPlace)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.DestinationPlace)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.CarBrand)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.CarBrand)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.NamesPeople)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.NamesPeople)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Aim)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Aim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Date)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => Model.Date)
        </div>
    </div>
</div>

@Html.HiddenFor(model => Model.Post1)
@Html.HiddenFor(model => Model.Post2)
@Html.HiddenFor(model => Model.Post3)
@Html.HiddenFor(model => Model.Post4)
@Html.HiddenFor(model => Model.Post5)
@Html.HiddenFor(model => Model.Post6)

<hr />
<h4 class="text-info">Пост охраны:</h4>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post1)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post1, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post2)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post2, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post3)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post3, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post4)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post4, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post5)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post5, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post6)</td>
        <td style="text-align: center; width: 20%;">@Html.CheckBoxFor(model => Model.Post6, new { @disabled = true })</td>
    </tr>
</table>
