@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_ChangeRoute_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Name, new { @class = "form-control", @rows = "2", placeholder = "Полное наименование запроса в системе", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.OldRoute)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.OldRoute, new { @class = "form-control", placeholder = "Текущий маршрут" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.NewRoute)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.NewRoute, new { @class = "form-control", placeholder = "Новый маршрут" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "2", placeholder = "Причина изменения" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact, new { @class = "form-control", placeholder = "Ваш контактный номер телефона" })
</div>
