@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AddOrChangeTemplate_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ActionType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.ActionType, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Path)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Path, new { @class = "form-control", placeholder = "Путь в системе", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "Наименование запроса" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact, new { @class = "form-control", placeholder = "Контантный номер телефона" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "3", placeholder = "Описание" })
</div>
<br>
<div class="alert alert-info" role="alert">
    <p>
        <strong>Нужно обязательно прикрепить тех. задание в заявке. В тех. задании необходимо четко указать:</strong>
        <ol>
            <li>Наименование полей для обязательного заполнения инициаторов запроса;</li>
            <li>Маршрут согласования;</li>
            <li>Фамилию исполнителя запроса.</li>
        </ol>
    </p>
</div>

