@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_ReplacementPhone_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.FromPhoneType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.FromPhoneType, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToPhoneType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ToPhoneType, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RequestText)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>