@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_ChangeOrder_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.OrderNum)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.OrderNum, new { @class = "form-control", placeholder = "№ Приказа", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.OrderDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.OrderDate, new { @class = "datetimepicker", placeholder = "Дата регистрации", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Subject)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Subject, new { @class = "form-control", placeholder = "Тема" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Description, new { @class = "form-control", placeholder = "Необходимые изменения" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Reason, new { @class = "form-control", placeholder = "Обоснование" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact, new { @class = "form-control", placeholder = "Контактная информация" })
</div>
<br>
<div class="alert alert-info" role="alert">
    <p><strong>Примечание: Данный запрос может инициировать только автор редактируемого приказа.</strong></p>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}