@model RapidDoc.Models.ViewModels.USR_REQ_UBUO_RequestCreateSettlView_View
@using RapidDoc.Extensions;

<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th rowspan="2"><label class="label-required">Наименование вида расчета</label><span class="required">*</span></th>
                <th colspan="8">Для бухгалтерского учета</th>
                <th colspan="4">Для начального учета</th>
                <th colspan="4">Для статистического учета</th>
            </tr>
            <tr>
                <th>Вид начисления</th>
                <th>Тип вида расчета</th>
                <th><label class="label-required">Способ расчета</label><span class="required">*</span></th>
                <th>Учет времени для табеля</th>
                <th><label class="label-required">Отражение в БУ</label><span class="required">*</span></th>
                <th><label class="label-required">Отражение по подразделению</label><span class="required">*</span></th>
                <th><label class="label-required">Входит в расчет среднего заработка</label><span class="required">*</span></th>
                <th><label class="label-required">Вид затрат</label><span class="required">*</span></th>
                <th>Облагается ИПН</th>
                <th>Облагается ОПВ</th>
                <th>Облагается СО</th>
                <th>Облагается СН</th>
                <th>ФЗП</th>
                <th>Состав ФЗП</th>
                <th>Вид затрат на рабочую силу</th>
                <th>Вид компенсации</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView1, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType1, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement1)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost1, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView2, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType2, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement2)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost2, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView3, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType3, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement3)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost3, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView4, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType4, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement4)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost4, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView5, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType5, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement5)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost5, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView6, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType6, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement6)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost6, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView7, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType7, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement7)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost7, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView8, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType8, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement8)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost8, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView9, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType9, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement9)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost9, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>