@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_ChangeOrder_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => Model.OrderDate)
<div class="editor-label">
    @Html.LabelFor(model => Model.OrderNum)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.OrderNum)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.OrderDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.OrderDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Subject)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Subject)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Description)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Contact)
</div>