@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForResponsibilities_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @row = 5, placeholder = "Обоснование", @autofocus = "required" })
</div>

<hr />
<h4 class="text-info">Замещаемый сотрудник</h4>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.UsersOff)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UsersOff, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "ФИО"})
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PositionOff)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.PositionOff, new { @class = "form-control", placeholder = "Должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DepartmentOff)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DepartmentOff, new { @class = "form-control", placeholder = "Управление/служба(отдел)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ScheduleOff)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ScheduleOff, new { @class = "form-control", placeholder = "График работы" })
</div>

<hr />
<h4 class="text-info">Возложить на сотрудника</h4>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.UsersOn)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UsersOn, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "ФИО"})
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PositionOn)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.PositionOn, new { @class = "form-control", placeholder = "Должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DepartmentOn)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DepartmentOn, new { @class = "form-control", placeholder = "Управление/служба(отдел)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ScheduleOn)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ScheduleOn, new { @class = "form-control", placeholder = "График работы" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FromDate, new { @class = "datepicker", placeholder = "Дата с", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ToDate, new { @class = "datepicker", placeholder = "Дата по", startDate = "", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Amount, new { @class = "form-control", placeholder = "Доплата" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "ИД Блока" })
</div>

<br>
<div class="alert alert-info" role="alert">
    <p>*Заявление-согласие</p>
</div>

@section jslaunch {
    datepicker_init("@UIElementRes.UIElement.LangName");
}
