@model RapidDoc.Models.ViewModels.USR_REQ_UBUO_RequestCreateSettlView_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.NameSettlView1)
@Html.HiddenFor(model => model.NameSettlView2)
@Html.HiddenFor(model => model.NameSettlView3)
@Html.HiddenFor(model => model.NameSettlView4)
@Html.HiddenFor(model => model.NameSettlView5)
@Html.HiddenFor(model => model.NameSettlView6)
@Html.HiddenFor(model => model.NameSettlView7)
@Html.HiddenFor(model => model.NameSettlView8)
@Html.HiddenFor(model => model.NameSettlView9)

@Html.HiddenFor(model => model.WaySettl1)
@Html.HiddenFor(model => model.WaySettl2)
@Html.HiddenFor(model => model.WaySettl3)
@Html.HiddenFor(model => model.WaySettl4)
@Html.HiddenFor(model => model.WaySettl5)
@Html.HiddenFor(model => model.WaySettl6)
@Html.HiddenFor(model => model.WaySettl7)
@Html.HiddenFor(model => model.WaySettl8)
@Html.HiddenFor(model => model.WaySettl9)

@Html.HiddenFor(model => model.ReflectedBU1)
@Html.HiddenFor(model => model.ReflectedBU2)
@Html.HiddenFor(model => model.ReflectedBU3)
@Html.HiddenFor(model => model.ReflectedBU4)
@Html.HiddenFor(model => model.ReflectedBU5)
@Html.HiddenFor(model => model.ReflectedBU6)
@Html.HiddenFor(model => model.ReflectedBU7)
@Html.HiddenFor(model => model.ReflectedBU8)
@Html.HiddenFor(model => model.ReflectedBU9)

@Html.HiddenFor(model => model.ReflectedDepartment1)
@Html.HiddenFor(model => model.ReflectedDepartment2)
@Html.HiddenFor(model => model.ReflectedDepartment3)
@Html.HiddenFor(model => model.ReflectedDepartment4)
@Html.HiddenFor(model => model.ReflectedDepartment5)
@Html.HiddenFor(model => model.ReflectedDepartment6)
@Html.HiddenFor(model => model.ReflectedDepartment7)
@Html.HiddenFor(model => model.ReflectedDepartment8)
@Html.HiddenFor(model => model.ReflectedDepartment9)

@Html.HiddenFor(model => model.AverageEarnings1)
@Html.HiddenFor(model => model.AverageEarnings2)
@Html.HiddenFor(model => model.AverageEarnings3)
@Html.HiddenFor(model => model.AverageEarnings4)
@Html.HiddenFor(model => model.AverageEarnings5)
@Html.HiddenFor(model => model.AverageEarnings6)
@Html.HiddenFor(model => model.AverageEarnings7)
@Html.HiddenFor(model => model.AverageEarnings8)
@Html.HiddenFor(model => model.AverageEarnings9)

@Html.HiddenFor(model => model.TypeCost1)
@Html.HiddenFor(model => model.TypeCost2)
@Html.HiddenFor(model => model.TypeCost3)
@Html.HiddenFor(model => model.TypeCost4)
@Html.HiddenFor(model => model.TypeCost5)
@Html.HiddenFor(model => model.TypeCost6)
@Html.HiddenFor(model => model.TypeCost7)
@Html.HiddenFor(model => model.TypeCost8)
@Html.HiddenFor(model => model.TypeCost9)

@Html.HiddenFor(model => model.SettlView1)
@Html.HiddenFor(model => model.SettlView2)
@Html.HiddenFor(model => model.SettlView3)
@Html.HiddenFor(model => model.SettlView4)
@Html.HiddenFor(model => model.SettlView5)
@Html.HiddenFor(model => model.SettlView6)
@Html.HiddenFor(model => model.SettlView7)
@Html.HiddenFor(model => model.SettlView8)
@Html.HiddenFor(model => model.SettlView9)

@Html.HiddenFor(model => model.SettlType1)
@Html.HiddenFor(model => model.SettlType2)
@Html.HiddenFor(model => model.SettlType3)
@Html.HiddenFor(model => model.SettlType4)
@Html.HiddenFor(model => model.SettlType5)
@Html.HiddenFor(model => model.SettlType6)
@Html.HiddenFor(model => model.SettlType7)
@Html.HiddenFor(model => model.SettlType8)
@Html.HiddenFor(model => model.SettlType9)

@Html.HiddenFor(model => model.TimesheetManagement1)
@Html.HiddenFor(model => model.TimesheetManagement2)
@Html.HiddenFor(model => model.TimesheetManagement3)
@Html.HiddenFor(model => model.TimesheetManagement4)
@Html.HiddenFor(model => model.TimesheetManagement5)
@Html.HiddenFor(model => model.TimesheetManagement6)
@Html.HiddenFor(model => model.TimesheetManagement7)
@Html.HiddenFor(model => model.TimesheetManagement8)
@Html.HiddenFor(model => model.TimesheetManagement9)

<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th rowspan="2">Наименование вида расчета</th>
                <th colspan="8">Для бухгалтерского учета</th>
                <th colspan="4">Для начального учета</th>
                <th colspan="4">Для статистического учета</th>
            </tr>
            <tr>
                <th>Вид начисления</th>
                <th>Тип вида расчета</th>
                <th>Способ расчета</th>
                <th>Учет времени для табеля</th>
                <th>Отражение в БУ</th>
                <th>Отражение по подразделению</th>
                <th>Входит в расчет среднего заработка</th>
                <th>Вид затрат</th>
                <th>Облагается ИПН</th>
                <th>Облагается ОПВ</th>
                <th>Облагается СО</th>
                <th>Облагается СН</th>
                <th>ФЗП</th>
                <th>Состав ФЗП</th>
                <th>Вид затрат на рабочую силу</th>
                <th>Вид компенсации</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView1)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView1, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType1, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl1)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement1, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost1)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP1)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP1)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce1)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation1)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView2)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView2, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType2, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl2)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement2, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost2)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP2)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP2)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce2)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation2)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView3)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView3, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType3, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl3)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement3, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost3)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP3)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP3)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce3)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation3)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView4)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView4, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType4, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl4)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement4, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost4)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP4)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP4)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce4)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation4)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView5)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView5, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType5, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl5)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement5, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost5)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP5)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP5)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce5)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation5)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView6)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView6, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType6, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl6)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement6, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost6)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP6)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP6)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce6)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation6)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView7)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView7, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType7, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl7)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement7, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost7)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP7)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP7)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce7)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation7)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView8)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView8, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType8, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl8)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement8, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost8)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP8)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP8)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce8)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation8)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayTextFor(model => Model.NameSettlView9)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView9, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType9, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.WaySettl9)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement9, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedBU9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.ReflectedDepartment9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.AverageEarnings9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.TypeCost9)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @Html.CheckBoxFor(model => Model.FEP9)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.СompositionFEP9)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.ViewCostWorkforce9)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.TypeCompensation9)
                </td>
            </tr>
        </tbody>
    </table>
</div>