@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasks_View
@using RapidDoc.Extensions;


@if (Model.RefDocumentId.HasValue && Model.RefDocumentId != Guid.Empty)
{
    <div class="editor-label">
        @Html.LabelForRequired(model => Model.RefDocNum)
    </div>
    @Html.ActionLink(Model.RefDocNum.ToString(), "ShowDocument", "Document", new { id = Model.RefDocumentId, isAfterView = true }, null)

    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionDate" } })
    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TextTask" } })

    @Html.HiddenFor(model => model.RefDocumentId)
    @Html.HiddenFor(model => model.RefDocNum)
    <br />
}

@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionDate" } })

<div class="editor-label">
    @Html.LabelFor(model => Model.MainField)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.MainField)
</div>
<br />

@if (Model.ProlongationDate.HasValue && Model.ProlongationDate != DateTime.MinValue)
{ 
    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ProlongationDate" } })
}

@if (Model.ReportText != null && Model.ReportText != "")
{
    <div class="editor-label">
        @Html.LabelFor(model => Model.ReportText)
    </div>
    <div class="editor-field">
        @Html.DisplayTextFor(model => Model.ReportText)
    </div>
}

<div class="modal fade delegatetask-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@CustomRes.Custom.Users</h4>
            </div>
            <div class="modal-body" style="min-height: 180px;">
                @Html.TextBox("Flow", "", new { @class = "form-control", @data_role = "tagsinputGroup2", @size = 256, @maxlength = 256, placeholder = "Сотрудники" })
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="action:DelegateDocumentTask">@UIElementRes.UIElement.Delegate</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal rejectcz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div id="alert_placeholder"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Отмена документа</h4>
            </div>
            <div class="modal-body" style="min-height:250px;">
                @Html.TextArea("RejectCommentTask", new { @class = "form-control", @placeholder = "Обязательно укажите причину отмены" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" id="rejectTask" class="btn btn-danger pull-right" name="action:RejectDocumentTask">@UIElementRes.UIElement.Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal approvecz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div id="alert_placeholderReport"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Закрытие документа</h4>
            </div>
            <div class="modal-body" style="min-height:200px;">
                @Html.TextArea("ApproveCommentTask", new { @class = "form-control", @placeholder = "Отчет" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" id="approveTask" class="btn btn-success pull-right" name="action:ApproveDocumentTask">@UIElementRes.UIElement.Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    bootstrap_alertReport = function () { }
    bootstrap_alertReport.warning = function (message) {
        $('#alert_placeholderReport').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>' + message + '</div>')
    }
    $('#approveTask').click(function (event) {
        var comment = $('#ApproveCommentTask').val();
        if (comment == "") {
            bootstrap_alertReport.warning('Необходимо заполнить отчет о закрытии');
            event.preventDefault();
            return false;
        }
    });

    $('#rejectTask').click(function (event) {
        var comment = $('#RejectCommentTask').val();
        if (comment == "") {
            bootstrap_alert.warning('Необходимо заполнить причину отклонения');
            event.preventDefault();
            return false;
        }
    });
</script>
