@model RapidDoc.Models.ViewModels.USR_REQ_UB_RequestForExportItems_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ItemName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ItemName, new { @class = "form-control", placeholder = "Наименование ТМЦ", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ItemNumber)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ItemNumber, new { @class = "form-control", placeholder = "Номенклатурный номер ТМЦ" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DeparturePlace)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DeparturePlace, new { @class = "form-control", placeholder = "Пункт отправки" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Warehouse)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.Warehouse, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Count)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Count, new { @class = "form-control", placeholder = "Количество" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NamesMOL)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.NamesMOL, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Руководитель МОЛ-а указанного склада" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DestinationPlace)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DestinationPlace, new { @class = "form-control", placeholder = "Пункт назначения" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.CarBrand)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.CarBrand, new { @class = "form-control", placeholder = "Марка автомобиля, гос.номер" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NamesPeople)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.NamesPeople, new { @class = "form-control", @row = 5, placeholder = "ФИО водителя, сопровождающих лиц" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Aim)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Aim, new { @class = "form-control", placeholder = "Цель" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datepicker", placeholder = "Дата", startDate = "" })
</div>

<hr />
<h4 class="text-info">Пост охраны:</h4>
<h5 class="text-danger">отметьте нужные Вам группы рассылки галочками</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post1)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post1)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post2)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post2)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post3)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post3)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post4)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post4)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post5)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post5)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Post6)</td>
        <td style="text-align: center; width: 20%;">@Html.EditorFor(model => model.Post6)</td>
    </tr>
</table>