@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_RecoveryData_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PathFile)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.PathFile, new { @class = "form-control", @rows = "1", placeholder = "Путь к файлу", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.FileName)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.FileName, new { @class = "form-control", @rows = "1", placeholder = "Имя файла", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.LastDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.LastDate, new { @class = "datepicker", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Дата последнего сохранения", @autofocus = "required", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Contact, new { @class = "form-control", @rows = "1", placeholder = "Контактный телефон", @autofocus = "required" })
</div>