@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRChGraphConst_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "ИД Блока" })
</div>
<hr />
<h4 class="text-info" style="text-align:left;">Прошу вас согласовать изменение графиков выходов:</h4>
<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№</th>
                <th style="min-width: 180px"><label class="label-required">ФИО</label><span class="required">*</span></th>
                <th style="min-width: 180px"><label class="label-required">Должность</label><span class="required">*</span></th>
                <th style="min-width: 180px"><label class="label-required">Подразделение</label><span class="required">*</span></th>
                <th><label class="label-required">График утвержденный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">График скорректированный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">Причина изменения</label><span class="required">*</span></th>
                <th><label class="label-required">Период изменения</label><span class="required">*</span></th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 1; i < 11; i++)
        {
            <tr>
                <td>@i.ToString()</td>
                <td>
                    <div class="input-group input-group-sm">
                        @Html.TextArea("Name" + i.ToString(), new { @class = "form-control", @maxlength = 256 })
                    </div>
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        @Html.TextArea("Position" + i.ToString(), new { @class = "form-control", @maxlength = 256 })
                    </div>
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        @Html.TextArea("Department" + i.ToString(), new { @class = "form-control", @maxlength = 256 })
                    </div>
                </td>
                <td>
                    @Html.EnumDropDownList("RapidDoc.Models.Repository.HRGraphics", "Graphics" + i.ToString(), new { @class = "selectpickermanual" })
                </td>
                <td>
                    @Html.EnumDropDownList("RapidDoc.Models.Repository.HRDuration", "FirstDuration" + i.ToString(), new { @class = "selectpickermanual" })
                </td>
                <td>
                    @Html.EnumDropDownList("RapidDoc.Models.Repository.HRGraphics", "GraphicsCorrect" + i.ToString(), new { @class = "selectpickermanual" })
                </td>
                <td>
                    @Html.EnumDropDownList("RapidDoc.Models.Repository.HRDuration", "SecondDuration" + i.ToString(), new { @class = "selectpickermanual" })
                </td>
                <td>
                    <div class="input-group input-group-sm">
                        @if (i == 1)
                        {
                            @Html.TextArea("Reason" + i.ToString(), new { @class = "form-control", placeholder = "Убедительная просьба расписывать причину полностью, не применяя слово 'Производственная необходиость'", @maxlength = 256 })
                        }
                        else
                        {
                            @Html.TextArea("Reason" + i.ToString(), new { @class = "form-control", @maxlength = 256 })
                        }
                    </div>
                </td>
                <td>
                    @Html.TextBox("StartDate" + i.ToString(), null, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control", placeholder = "с даты", startDate = "" })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<hr />