@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForExplanationNormalAct_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "ФИО (полностью)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<h4 class="text-info">Нормативный правовой акт (НПА)</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NumberDoc)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.NumberDoc, new { @class = "form-control", placeholder = "№" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datepicker", placeholder = "Дата", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FullName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FullName, new { @class = "form-control", placeholder = "Полное наименование" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.OwnMind)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.OwnMind, new { @class = "form-control", @row = 5, placeholder = "Собственное мнение заявителя по разъяснению НПА" })
</div>