@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForTransfVacWorkerFin_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Employee)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Employee)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Position)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Position)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
    @Html.HiddenFor(model => Model.UserChooseManual1)
</div>

<div>
    @Html.LabelFor(model => Model.PlanDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PlanDate)
</div>

<div>
    @Html.LabelFor(model => Model.TransferDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.TransferDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>