@model RapidDoc.Models.ViewModels.USR_REQ_UB_RequestForInOutNotebook_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Organization)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Organization)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Model)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Model)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Name)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ObjectAccess)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ObjectAccess, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Aim)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Aim)
</div>

<hr />
<h4 class="text-info">Срок действия</h4>

<div class="editor-label">
    @Html.LabelFor(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>

