@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasksProlongation_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RefDocNum)
</div>
@Html.ActionLink(Model.RefDocNum.ToString(), "ShowDocument", "Document", new { id = Model.RefDocumentId, isAfterView = true }, null)

@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TextTask" } })

@Html.HiddenFor(model => model.RefDocumentId)
@Html.HiddenFor(model => model.RefDocNum)
<br />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ProlongationDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ProlongationDate, null, new { @class = "datepicker form-control form-control-date", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), format = "mm/dd/yyyy", placeholder = "Дата", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control summernote" })
</div>
