@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForResponsibilitiesSOTB_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>

<hr />
<h4 class="text-info">Замещаемый сотрудник</h4>
<div class="editor-label">
    @Html.LabelFor(model => Model.UsersOff)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UsersOff)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PositionOff)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PositionOff)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.DepartmentOff)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DepartmentOff)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ScheduleOff)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ScheduleOff)
</div>

<hr />
<h4 class="text-info">Возложить на сотрудника</h4>
<div class="editor-label">
    @Html.LabelFor(model => Model.UsersOn)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UsersOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PositionOn)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PositionOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.DepartmentOn)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DepartmentOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ScheduleOn)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ScheduleOn)
</div>

<div>
    @Html.LabelFor(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromDate)
</div>

<div>
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>

<div>
    @Html.LabelFor(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Amount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>