@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserAD_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ActiveDirectory)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ActiveDirectory)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Exchange)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Exchange)
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Name, new { @class = "form-control", @rows = "1", placeholder = "ФИО", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.BirthDay)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.BirthDay, new { @class = "datepicker", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Действует с", @autofocus = "required", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Title)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Title, new { @class = "form-control", @rows = "1", placeholder = "Должность", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.BlocksATK)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.BlocksATK, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Department, new { @class = "form-control", @rows = "1", placeholder = "Подразделение", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ToDate, new { @class = "datepicker", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Действует до", @autofocus = "required", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Contact, new { @class = "form-control", @rows = "1", placeholder = "Сотовый и внутренний номер", @autofocus = "required" })
</div>
<h5>
    Примечание:
    После окончания срока действия учетная запись будет автоматически заблокирована.
</h5>