@model RapidDoc.Models.ViewModels.USR_REQ_ROGR_RequestForMiningVehicle_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", placeholder = "Имя Фамилия", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datetimepicker", placeholder = "Дата/время", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "5", placeholder = "Обоснование" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Volume)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Volume, new { @class = "form-control", @rows = "3", placeholder = "Объем выполняемых работ" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Person)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Person, new { @class = "form-control", placeholder = "Ответственное лицо выдающее наряд/задание" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.VehicleType)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.VehicleType, new { @class = "form-control", placeholder = "Вид горной техники" })
</div>

@section jslaunch {
    datepicker_init("@UIElementRes.UIElement.LangName");
}