@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_ModificationDAX_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => model.Treasury)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Treasury)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Purchases)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Purchases)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Finance)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Finance)
</div>
<hr />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RequestText, new { @class = "form-control", @rows = "5", placeholder = "Описание модификации", @autofocus = "required" })
</div>