@model RapidDoc.Models.ViewModels.USR_REQ_UBUO_RequestCreateSettlView_View
@using RapidDoc.Extensions;

<div role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">1</a></li>
        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">2</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
            <div class="well">
                <div class="row">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="editor-label">
                                @Html.LabelRequired("NameSettlView1")
                            </div>
                            <div class="editor-field input-group-sm">
                                @Html.TextBox("NameSettlView1", null, new { @class = "form-control", placeholder = Html.DisplayName("NameSettlView1") })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-info text-left">#1 Для бухгалтерского учета</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            @Html.LabelRequired("SettlView1")
                        </div>
                        <div class="editor-field">
                            @Html.EnumDropDownList("RapidDoc.Models.Repository.SettlView", "SettlView1", new { @class = "selectpickerfull" })
                        </div>
                        <div class="editor-label">
                            @Html.LabelRequired("SettlType1")
                        </div>
                        <div class="editor-field">
                            @Html.EnumDropDownList("RapidDoc.Models.Repository.SettlType", "SettlType1", new { @class = "selectpickerfull" })
                        </div>
                        @Html.Partial("_DocumentEditFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TimesheetManagement1" } })
                    </div>
                    <div class="col-md-5">
                        <div class="editor-label">
                            @Html.LabelRequired("WaySettl1")
                        </div>
                        <div class="editor-field input-group-sm">
                            @Html.TextArea("WaySettl1", null, new { @class = "form-control", @row = 2, placeholder = Html.DisplayName("WaySettl1") })
                        </div>
                        <div class="editor-label">
                            @Html.LabelRequired("ReflectedBU1")
                        </div>
                        <div class="editor-field input-group-sm">
                            @Html.TextArea("ReflectedBU1", null, new { @class = "form-control", @row = 2, placeholder = Html.DisplayName("ReflectedBU1") })
                        </div>
                        <div class="editor-label">
                            @Html.LabelRequired("ReflectedDepartment1")
                        </div>
                        <div class="editor-field input-group-sm">
                            @Html.TextArea("ReflectedDepartment1", null, new { @class = "form-control", @row = 2, placeholder = Html.DisplayName("ReflectedDepartment1") })
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="editor-label">
                            @Html.LabelRequired("AverageEarnings1")
                        </div>
                        <div class="editor-field input-group-sm">
                            @Html.TextArea("AverageEarnings1", null, new { @class = "form-control", @row = 2, placeholder = Html.DisplayName("AverageEarnings1") })
                        </div>
                        <div class="editor-label">
                            @Html.LabelRequired("TypeCost1")
                        </div>
                        <div class="editor-field input-group-sm">
                            @Html.TextArea("TypeCost1", null, new { @class = "form-control", @row = 2, placeholder = Html.DisplayName("AverageEarnings1") })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
    </div>
</div>
<hr />

<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th rowspan="2"><label class="label-required">Наименование вида расчета</label><span class="required">*</span></th>
                <th colspan="8">Для бухгалтерского учета</th>
                <th colspan="4">Для начального учета</th>
                <th colspan="4">Для статистического учета</th>
            </tr>
            <tr>
                <th>Вид начисления</th>
                <th>Тип вида расчета</th>
                <th><label class="label-required">Способ расчета</label><span class="required">*</span></th>
                <th>Учет времени для табеля</th>
                <th><label class="label-required">Отражение в БУ</label><span class="required">*</span></th>
                <th><label class="label-required">Отражение по подразделению</label><span class="required">*</span></th>
                <th><label class="label-required">Входит в расчет среднего заработка</label><span class="required">*</span></th>
                <th><label class="label-required">Вид затрат</label><span class="required">*</span></th>
                <th>Облагается ИПН</th>
                <th>Облагается ОПВ</th>
                <th>Облагается СО</th>
                <th>Облагается СН</th>
                <th>ФЗП</th>
                <th>Состав ФЗП</th>
                <th>Вид затрат на рабочую силу</th>
                <th>Вид компенсации</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView1, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType1, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement1)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost1, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView2, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType2, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement2)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost2, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView3, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType3, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement3)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost3, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView4, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType4, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement4)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost4, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView5, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType5, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement5)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost5, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView6, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType6, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement6)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost6, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView7, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType7, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement7)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost7, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView8, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType8, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement8)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost8, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.NameSettlView9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlView9, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SettlType9, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.WaySettl9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model.TimesheetManagement9)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedBU9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.ReflectedDepartment9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.AverageEarnings9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.TypeCost9, new { @class = "", @maxlength = 256 })
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>