@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForAssurance_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", placeholder = "ФИО Заказчика", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение-инициатор" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FullName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FullName, new { @class = "form-control", placeholder = "Полное наименование документа для нотариального заверения" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateAssurance)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateAssurance, new { @class = "form-control", placeholder = "Дата заверения документа не менее 2-х дней с момента получения заявки ЮУ" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.AimAssurance)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.AimAssurance, new { @class = "form-control", placeholder = "Цель заверения документа" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.WhereAndWhom)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.WhereAndWhom, new { @class = "form-control", placeholder = "Куда и кому предоставляется документ, с указанием адреса и наименования юр. Лица либо физ. Лица" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CountExamples)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.CountExamples, new { @class = "form-control bfh-number" })
</div>
<hr />
<div class="alert alert-info" role="alert">
    <p>Подписание инициатором обязательства о предоставлении оригинала документа для нотариального заверения в течение 2-x часов с момента подписания заявка</p>
</div>