@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_ModificationDAX_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Treasury)
</div>
<div class="editor-field">
    @Html.CheckBoxFor(model => Model.Treasury, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Purchases)
</div>
<div class="editor-field">
    @Html.CheckBoxFor(model => Model.Purchases, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Finance)
</div>
<div class="editor-field">
    @Html.CheckBoxFor(model => Model.Finance, new { @disabled = true })
</div>
<hr/>
<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RequestText)
</div>