@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForPaymentFirstDay_View
@using RapidDoc.Extensions;

<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th><label class="label-required">ФИО водителя</label><span class="required">*</span></th>
                <th><label class="label-required">Подразделение</label><span class="required">*</span></th>
                <th><label class="label-required">Должность</label><span class="required">*</span></th>
                <th><label class="label-required">Дата командировки</label><span class="required">*</span></th>
                <th><label class="label-required">Направление</label><span class="required">*</span></th>
                <th><label class="label-required">Срок командировки</label><span class="required">*</span></th>
                <th><label class="label-required">Сумма к начислению(тенге, 1 МРП)</label><span class="required">*</span></th>
            </tr>
        </thead>
        <tbody>
            @if(!String.IsNullOrEmpty(Model.Name1))
            { 
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Department1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.StartDate1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Destination1)
                </td>

                <td>
                    @Html.DisplayTextFor(model => Model.Term1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Amount1)
                </td>
            </tr>
            }
            @if (!String.IsNullOrEmpty(Model.Name2))
            { 
            <tr>
                <td>
                    2
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Department2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.StartDate2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Destination2)
                </td>

                <td>
                    @Html.DisplayTextFor(model => Model.Term2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Amount2)
                </td>
            </tr>
            }
            @if (!String.IsNullOrEmpty(Model.Name3))
            { 
            <tr>
                <td>
                    3
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Department3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.StartDate3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Destination3)
                </td>

                <td>
                    @Html.DisplayTextFor(model => Model.Term3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Amount3)
                </td>
            </tr>
            }
            @if (!String.IsNullOrEmpty(Model.Name4))
            {
            <tr>
                <td>
                    4
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Department4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.StartDate4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Destination4)
                </td>

                <td>
                    @Html.DisplayTextFor(model => Model.Term4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Amount4)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
