@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_ChangeAnalyticalModel_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.AccountNum)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.AccountNum, new { @class = "form-control", @rows = "1", placeholder = "План счетов", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TypeCosts)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.TypeCosts, new { @class = "form-control", @rows = "1", placeholder = "Вид затрат", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.TypeActivity)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.TypeActivity, new { @class = "form-control", @rows = "1", placeholder = "Вид деятельности", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Department, new { @class = "form-control", @rows = "1", placeholder = "Подразделения", @autofocus = "required" })
</div>
<hr/>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Other)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Other, new { @class = "form-control", @rows = "3", placeholder = "Прочие", @autofocus = "required" })
</div>