@model RapidDoc.Models.ViewModels.USR_REQ_UZL_RequestForPeopleAcceptanceItems_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Iniciator)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Iniciator)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ContactPhone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ContactPhone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Theme)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Theme)
</div>

<div class="row">
    <div class="col-md-6">
        @* Руководители *@
        @if (Model.UserChooseManual1 != null && Model.UserChooseManual1 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual1)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Department1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Department1)
            </div>
            @Html.HiddenFor(model => model.UserChooseManual1)
            @Html.HiddenFor(model => model.Department1)
            @Html.Action("GetManualAcceptanceItems1", "Custom", new { model = Model })

        }


        @if (Model.UserChooseManual2 != null && Model.UserChooseManual2 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual2)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Department2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Department2)
            </div>
            @Html.HiddenFor(model => model.UserChooseManual2)
            @Html.HiddenFor(model => model.Department2)
            @Html.Action("GetManualAcceptanceItems2", "Custom", new { model = Model })

        }

        @if (Model.UserChooseManual3 != null && Model.UserChooseManual3 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual3)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Department3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Department3)
                @Html.HiddenFor(model => model.Department3)
            </div>
            @Html.HiddenFor(model => model.UserChooseManual3)
            @Html.Action("GetManualAcceptanceItems3", "Custom", new { model = Model })
        }

        @if (Model.UserChooseManual4 != null && Model.UserChooseManual4 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual4)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Department4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Department4)
                @Html.HiddenFor(model => model.Department4)
            </div>
            @Html.HiddenFor(model => model.UserChooseManual4)
            @Html.Action("GetManualAcceptanceItems4", "Custom", new { model = Model })
        }
    </div>
    <div class="col-md-6">
        @* Специалисты *@
        @if (Model.UserChooseManual5 != null && Model.UserChooseManual5 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual5)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual5)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Contact1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Contact1)
            </div>
            @Html.HiddenFor(model => model.Contact1)
            @Html.HiddenFor(model => model.UserChooseManual5)

        }


        @if (Model.UserChooseManual6 != null && Model.UserChooseManual6 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual6)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual6)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Contact2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Contact2)
            </div>
            @Html.HiddenFor(model => model.Contact2)
            @Html.HiddenFor(model => model.UserChooseManual6)

        }


        @if (Model.UserChooseManual7 != null && Model.UserChooseManual7 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual7)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual7)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Contact3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Contact3)
            </div>
            @Html.HiddenFor(model => model.Contact3)
            @Html.HiddenFor(model => model.UserChooseManual7)
        }


        @if (Model.UserChooseManual8 != null && Model.UserChooseManual8 != "")
        {
            <hr />
            <div class="editor-label">
                @Html.LabelFor(model => Model.UserChooseManual8)
            </div>
            <div class="editor-field">
                @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual8)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Contact4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Contact4)
            </div>
            @Html.HiddenFor(model => model.Contact4)
            @Html.HiddenFor(model => model.UserChooseManual8)
        }
    </div>
</div>
