@model RapidDoc.Models.ViewModels.USR_REQ_TRIP_RegistrationBusinessTripKZ_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-6">
        <div class="editor-label">
            @Html.LabelFor(model => Model.Users)
        </div>
        <div class="editor-field">
            @Html.HtmlDisplayTagsFor(model => Model.Users)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.UserChooseManual1)
        </div>
        <div class="editor-field">
            @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
            @Html.HiddenFor(model => model.UserChooseManual1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.CategoryTrip)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.CategoryTrip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.TypeTrip)
        </div>
        <div class="editor-field">
            @Html.EnumToDescription(Model.TypeTrip)
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="text-info">Срок командировки</h4>
        <div>
            @Html.LabelFor(model => Model.StartDate)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.StartDate)
        </div>
        <div>
            @Html.LabelFor(model => Model.EndDate)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.City)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Purpose)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Purpose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Organization)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Organization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Description)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => Model.Description)
        </div>
    </div>
</div>

<hr />
<div class="row">
    @if (!String.IsNullOrEmpty(Model.FIO1))
    {
        <div class="col-md-3" style="background-color: #eee; border-left: 3px dashed #bdc3c7;">
            <span class="label label-primary rowNum cellAligmentMiddle">1</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.FIO1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.FIO1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.EmplTripType1)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.EmplTripType1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripDirection1)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripDirection1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Day1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Day1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.DayLive1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.DayLive1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripPassage1)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripPassage1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TicketSum1)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.TicketSum1)
            </div>
            <div id="Block1">
                @if (!String.IsNullOrEmpty(Model.FIO1))
                {
                    @Html.Partial(@"~/Views/Custom/USR_REQ_TRIP_RegistrationBusinessTripKZ_Calc.cshtml", new RapidDoc.Models.ViewModels.USR_REQ_TRIP_RequestCalcDriveBTripCalsKZ_View(Model.EmplTripType1, Model.TripDirection1, Model.Day1, Model.DayLive1, Model.TicketSum1, Model.DayRate1, Model.ResidenceRate1))
                }
            </div>
            <br />
        </div>
    }

    @if (!String.IsNullOrEmpty(Model.FIO2))
    {
        <div class="col-md-3" style="background-color: #eee; border-left: 2px dashed #bdc3c7;">
            <span class="label label-primary rowNum cellAligmentMiddle">2</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.FIO2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.FIO2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.EmplTripType2)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.EmplTripType2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripDirection2)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripDirection2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Day2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Day2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.DayLive2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.DayLive2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripPassage2)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripPassage2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TicketSum2)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.TicketSum2)
            </div>
            <div id="Block2">
                @if (!String.IsNullOrEmpty(Model.FIO2))
                {
                    @Html.Partial(@"~/Views/Custom/USR_REQ_TRIP_RegistrationBusinessTripKZ_Calc.cshtml", new RapidDoc.Models.ViewModels.USR_REQ_TRIP_RequestCalcDriveBTripCalsKZ_View(Model.EmplTripType2, Model.TripDirection2, Model.Day2, Model.DayLive2, Model.TicketSum2, Model.DayRate2, Model.ResidenceRate2))
                }
            </div>
            <br />
        </div>
    }
    @if (!String.IsNullOrEmpty(Model.FIO3))
    {
        <div class="col-md-3" style="background-color: #eee; border-left: 2px dashed #bdc3c7;">
            <span class="label label-primary rowNum cellAligmentMiddle">3</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.FIO3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.FIO3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.EmplTripType3)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.EmplTripType3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripDirection3)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripDirection3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Day3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Day3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.DayLive3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.DayLive3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripPassage3)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripPassage3)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TicketSum3)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.TicketSum3)
            </div>
            <div id="Block3">
                @if (!String.IsNullOrEmpty(Model.FIO3))
                {
                    @Html.Partial(@"~/Views/Custom/USR_REQ_TRIP_RegistrationBusinessTripKZ_Calc.cshtml", new RapidDoc.Models.ViewModels.USR_REQ_TRIP_RequestCalcDriveBTripCalsKZ_View(Model.EmplTripType3, Model.TripDirection3, Model.Day3, Model.DayLive3, Model.TicketSum3, Model.DayRate3, Model.ResidenceRate3))
                }
            </div>
            <br />
        </div>
    }
    @if (!String.IsNullOrEmpty(Model.FIO4))
    {
        <div class="col-md-3" style="background-color: #eee; border-left: 2px dashed #bdc3c7; border-right: 3px dashed #bdc3c7;">
            <span class="label label-primary rowNum cellAligmentMiddle">4</span>
            <div class="editor-label">
                @Html.LabelFor(model => Model.FIO4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.FIO4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.EmplTripType4)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.EmplTripType4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripDirection4)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripDirection4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.Day4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.Day4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.DayLive4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.DayLive4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TripPassage4)
            </div>
            <div class="editor-field">
                @Html.EnumToDescription(Model.TripPassage4)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => Model.TicketSum4)
            </div>
            <div class="editor-field">
                @Html.DisplayTextFor(model => Model.TicketSum4)
            </div>
            <div id="Block4">
                @if (!String.IsNullOrEmpty(Model.FIO4))
                {
                    @Html.Partial(@"~/Views/Custom/USR_REQ_TRIP_RegistrationBusinessTripKZ_Calc.cshtml", new RapidDoc.Models.ViewModels.USR_REQ_TRIP_RequestCalcDriveBTripCalsKZ_View(Model.EmplTripType4, Model.TripDirection4, Model.Day4, Model.DayLive4, Model.TicketSum4, Model.DayRate4, Model.ResidenceRate4))
                }
            </div>
            <br />
        </div>
    }
</div>
<br />

