@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AccessRightLotus_View
@using RapidDoc.Extensions;

<h5>Список  доступных баз:</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Agreement)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Agreement)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight01, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Orders)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Orders)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight02, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Control)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Control)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight03, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Trips)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Trips)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight04, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Correspondence)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Correspondence)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight05, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.MaterialsMeeting)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.MaterialsMeeting)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight06, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.MaterialsMeetingDirectorate)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.MaterialsMeetingDirectorate)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight07, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ProtocolSolutions)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ProtocolSolutions)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight08, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ProtocolSolutionsDirectorate)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ProtocolSolutionsDirectorate)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight09, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ProtocolManagementSolution)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ProtocolManagementSolution)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight10, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ProtocolSolutionsCommission)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ProtocolSolutionsCommission)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight11, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.AgreementsSVD)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.AgreementsSVD)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight12, new { @class = "selectpicker" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RegisterContractsSVD)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RegisterContractsSVD)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight13, new { @class = "selectpicker" })</td>
    </tr>

</table>

<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "5", placeholder = "Комментарии", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Берик Серикович" })
</div>
