@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_ReissueComputer_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.CopmputerName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.CopmputerName, new { @class = "form-control", placeholder = "Имя компьютера", @autofocus = "required" })
</div>
<hr>
<div class="table-responsive">
    <table cellpadding="10" cellspacing="10" class="table table-bordered table-bordered-bold">
        <thead>
            <tr>
                <td style="text-align: center; font-weight:bold;">Наименование</td>
                <td style="text-align: center; font-weight: bold;">Модель</td>
                <td style="text-align: center; font-weight: bold;">Серийный номер</td>
                <td style="text-align: center; font-weight: bold;">Инвентарный номер</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left; font-weight:bold;">Системный блок</td>
                <td style="text-align: center; width: 25%;">@Html.TextAreaFor(model => Model.SystemUnitModel, new { @class = "form-control flat", @style = "resize: none;" })</td>
                <td style="text-align: left; width: 25%;">@Html.TextAreaFor(model => Model.SystemUnitSerial, new { @class = "form-control flat", @style = "resize: none;" })</td>
                <td style="text-align: left; width: 25%;"></td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Ноутбук</td>
                <td style="text-align: center; width: 25%;">@Html.TextAreaFor(model => Model.NotebookModel, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.NotebookSerial, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;"></td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Монитор</td>
                <td style="text-align: center; width: 25%;">@Html.TextAreaFor(model => Model.MonitorModel, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.MonitorSerial, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;"></td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Принтер</td>
                <td style="text-align: center; width: 25%;">@Html.TextAreaFor(model => Model.PrinterModel, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.PrinterSerial, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;"></td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Прочее оборудование</td>
                <td style="text-align: center; width: 25%;">@Html.TextAreaFor(model => Model.OtherEquipmentModel, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.OtherEquipmentSerial, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
                <td style="text-align:left; width: 25%;"></td>
            </tr>
        </tbody>
    </table>
</div>
    <hr />
    <div class="editor-label">
        @Html.LabelForRequired(model => Model.FromUsers)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => Model.FromUsers, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
    </div>
    <div class="editor-label">
        @Html.LabelForRequired(model => Model.ToUsers)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => Model.ToUsers, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
    </div>
