@model RapidDoc.Models.ViewModels.USR_REQ_OKS_RequestForTranslateKAZ_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", placeholder = "Имя Фамилия", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact, new { @class = "form-control", placeholder = "Контакты (имя, телефон, электронная почта)" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Purpose, new { @class = "form-control", @rows = "5", placeholder = "Цель перевода" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Direction)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.Direction, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.CountPage)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.CountPage, new { @class = "form-control bfh-number" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Priority)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.Priority, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.ExplanationPriority)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.ExplanationPriority, new { @class = "form-control", @rows = "5", placeholder = "Обоснование приоритетности" })
</div>
<hr />

<div>
    <p>
        <em>При выборе высокой приоритетности необходимо указать точное и достоверное обоснование(причину) срочности</em>
    </p>
    <ul>
        <li>
            <em>Срок выполнения заявки(без учета высокой приоритетности) - не менее 1 (одного) рабочего дня с момента подписания руководителем сектора переводов</em>
        </li>
        <li>
            <em>Если ранее осуществлялся перевод одной из версий запрашиваемого документа, то необходимо вложить предыдущие версии, как на русском, так и на английском языке</em>
        </li>
    </ul>
</div>