@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_DelegationDocflow_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.FromDate)
@Html.HiddenFor(model => model.ToDate)

<div class="editor-label">
    @Html.LabelFor(model => Model.FromUsers)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.FromUsers)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToUsers)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.ToUsers)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.DocumentName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DocumentName)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>