@model RapidDoc.Models.ViewModels.USR_REQ_OKS_RequestForVisa_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Country)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Country)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>
