@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_ReplaceCartridge_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ModelPrinter)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ModelPrinter)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.RassetId)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RassetId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qty)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => model.Qty)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Location)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Location)
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-bordered table-bordered-bold">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">
                        Акт получения
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Получение</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Дата</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Роспись</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
    </div>
</div>
