@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForSelectionPersonal_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Position)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Position)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Count)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Count)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ClosedDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ClosedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Possibility)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Possibility)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Executive)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Executive)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ContactPerson)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ContactPerson)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>

<hr />
<h4 class="text-info" style="text-align:center;">1. Требования к кандидату:</h4>

<div class="editor-label">
    @Html.LabelFor(model => Model.Age)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Age)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Education)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Education)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Experience)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Experience)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Requirement)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Requirement)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Skills)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Skills)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Character)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Character)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Additional)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Additional)
</div>

<hr />
<h4 class="text-info" style="text-align:center;">2. Описание позиции:</h4>

<div class="editor-label">
    @Html.LabelFor(model => Model.FuncDuties)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FuncDuties)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.AddDuties)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.AddDuties)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.DirectExecutive)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DirectExecutive)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Management)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Management)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Salary)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Salary)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.AddSalary)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.AddSalary)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Schedule)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Schedule)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.BusinessTrip)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.BusinessTrip)
</div>