@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_RequestEquipment_View
@using RapidDoc.Extensions;
<div class="editor-label">
    @Html.LabelForRequired(model => Model.CopmputerName)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.CopmputerName, new { @class = "form-control", @rows = "1", placeholder = "Имя компьютера", @autofocus = "required" })
</div>
<hr />
<table cellpadding="10" cellspacing="10" class="table table-bordered">
    <tr class="editor-field">
        <td style="text-align: center; font-weight:bold;">Наименование</td>
        <td style="text-align: center; font-weight: bold;">Модель</td>
        <td style="text-align: center; font-weight: bold;">Серийный номер</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align: left; font-weight:bold;">Системный блок</td>
        <td style="text-align: center; width: 50%;">@Html.TextAreaFor(model => Model.SystemUnitModel, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
        <td style="text-align:left; width: 50%;">@Html.TextAreaFor(model => Model.SystemUnitSerial, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;"})</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align: left; font-weight:bold;">Ноутбук</td>
        <td style="text-align: center; width: 50%;">@Html.TextAreaFor(model => Model.NotebookModel, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
        <td style="text-align:left; width: 50%;">@Html.TextAreaFor(model => Model.NotebookSerial, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align: left; font-weight:bold;">Монитор</td>
        <td style="text-align: center; width: 50%;">@Html.TextAreaFor(model => Model.MonitorModel, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
        <td style="text-align:left; width: 50%;">@Html.TextAreaFor(model => Model.MonitorSerial, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align: left; font-weight:bold;">Принтер</td>
        <td style="text-align: center; width: 50%;">@Html.TextAreaFor(model => Model.PrinterModel, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
        <td style="text-align:left; width: 50%;">@Html.TextAreaFor(model => Model.PrinterSerial, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align: left; font-weight:bold;">Прочее оборудование</td>
        <td style="text-align: center; width: 50%;">@Html.TextAreaFor(model => Model.OtherEquipmentModel, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
        <td style="text-align:left; width: 50%;">@Html.TextAreaFor(model => Model.OtherEquipmentSerial, new { @class = "form-control flat", @rows = "1", @autofocus = "required", @style = "resize: none;" })</td>
    </tr>
</table>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>