@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRChGraphConst_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
    @Html.HiddenFor(model => Model.UserChooseManual1)
</div>
<hr />
<h4 class="text-info" style="text-align:left;">Прошу вас согласовать изменение графиков выходов:</h4>
<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Подразделение</th>
                <th>График утвержденный</th>
                <th>Продолжительность рабочей смены</th>
                <th>График скорректированный</th>
                <th>Продолжительность рабочей смены</th>
                <th>Причина изменения</th>
                <th>Период изменения(на постоянной основе)</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 1; i < 11; i++)
        {
            if (!String.IsNullOrEmpty(Html.Value("Name" + i.ToString()).ToString()))
            {
            <tr>
                <td>@i.ToString()</td>
                <td>
                    @Html.DisplayText("Name" + i.ToString())
                </td>
                <td>
                    @Html.DisplayText("Position" + i.ToString())
                </td>
                <td>
                    @Html.DisplayText("Department" + i.ToString())
                </td>
                <td>
                    @Html.EnumToDescription("RapidDoc.Models.Repository.HRGraphics", Html.Value("Graphics" + i.ToString()).ToString())
                </td>
                <td>
                    @Html.EnumToDescription("RapidDoc.Models.Repository.HRDuration", Html.Value("FirstDuration" + i.ToString()).ToString())
                </td>
                <td>
                    @Html.EnumToDescription("RapidDoc.Models.Repository.HRGraphics", Html.Value("GraphicsCorrect" + i.ToString()).ToString())
                </td>
                <td>
                    @Html.EnumToDescription("RapidDoc.Models.Repository.HRDuration", Html.Value("SecondDuration" + i.ToString()).ToString())
                </td>
                <td>
                    @Html.DisplayText("Reason" + i.ToString())
                </td>
                <td>
                    C @Html.Display("StartDate" + i.ToString(), "MM/dd/yyyy")
                </td>
            </tr>
            }
        }
        </tbody>
    </table>
</div>
<hr />

@Html.HiddenFor(model => Model.Name1)
@Html.HiddenFor(model => Model.Position1)
@Html.HiddenFor(model => Model.Department1)
@Html.HiddenFor(model => Model.Graphics1)
@Html.HiddenFor(model => Model.FirstDuration1)
@Html.HiddenFor(model => Model.GraphicsCorrect1)
@Html.HiddenFor(model => Model.SecondDuration1)
@Html.HiddenFor(model => Model.Reason1)
@Html.HiddenFor(model => Model.StartDate1)

@Html.HiddenFor(model => Model.Name2)
@Html.HiddenFor(model => Model.Position2)
@Html.HiddenFor(model => Model.Department2)
@Html.HiddenFor(model => Model.Graphics2)
@Html.HiddenFor(model => Model.FirstDuration2)
@Html.HiddenFor(model => Model.GraphicsCorrect2)
@Html.HiddenFor(model => Model.SecondDuration2)
@Html.HiddenFor(model => Model.Reason2)
@Html.HiddenFor(model => Model.StartDate2)

@Html.HiddenFor(model => Model.Name3)
@Html.HiddenFor(model => Model.Position3)
@Html.HiddenFor(model => Model.Department3)
@Html.HiddenFor(model => Model.Graphics3)
@Html.HiddenFor(model => Model.FirstDuration3)
@Html.HiddenFor(model => Model.GraphicsCorrect3)
@Html.HiddenFor(model => Model.SecondDuration3)
@Html.HiddenFor(model => Model.Reason3)
@Html.HiddenFor(model => Model.StartDate3)

@Html.HiddenFor(model => Model.Name4)
@Html.HiddenFor(model => Model.Position4)
@Html.HiddenFor(model => Model.Department4)
@Html.HiddenFor(model => Model.Graphics4)
@Html.HiddenFor(model => Model.FirstDuration4)
@Html.HiddenFor(model => Model.GraphicsCorrect4)
@Html.HiddenFor(model => Model.SecondDuration4)
@Html.HiddenFor(model => Model.Reason4)
@Html.HiddenFor(model => Model.StartDate4)

@Html.HiddenFor(model => Model.Name5)
@Html.HiddenFor(model => Model.Position5)
@Html.HiddenFor(model => Model.Department5)
@Html.HiddenFor(model => Model.Graphics5)
@Html.HiddenFor(model => Model.FirstDuration5)
@Html.HiddenFor(model => Model.GraphicsCorrect5)
@Html.HiddenFor(model => Model.SecondDuration5)
@Html.HiddenFor(model => Model.Reason5)
@Html.HiddenFor(model => Model.StartDate5)

@Html.HiddenFor(model => Model.Name6)
@Html.HiddenFor(model => Model.Position6)
@Html.HiddenFor(model => Model.Department6)
@Html.HiddenFor(model => Model.Graphics6)
@Html.HiddenFor(model => Model.FirstDuration6)
@Html.HiddenFor(model => Model.GraphicsCorrect6)
@Html.HiddenFor(model => Model.SecondDuration6)
@Html.HiddenFor(model => Model.Reason6)
@Html.HiddenFor(model => Model.StartDate6)

@Html.HiddenFor(model => Model.Name7)
@Html.HiddenFor(model => Model.Position7)
@Html.HiddenFor(model => Model.Department7)
@Html.HiddenFor(model => Model.Graphics7)
@Html.HiddenFor(model => Model.FirstDuration7)
@Html.HiddenFor(model => Model.GraphicsCorrect7)
@Html.HiddenFor(model => Model.SecondDuration7)
@Html.HiddenFor(model => Model.Reason7)
@Html.HiddenFor(model => Model.StartDate7)

@Html.HiddenFor(model => Model.Name8)
@Html.HiddenFor(model => Model.Position8)
@Html.HiddenFor(model => Model.Department8)
@Html.HiddenFor(model => Model.Graphics8)
@Html.HiddenFor(model => Model.FirstDuration8)
@Html.HiddenFor(model => Model.GraphicsCorrect8)
@Html.HiddenFor(model => Model.SecondDuration8)
@Html.HiddenFor(model => Model.Reason8)
@Html.HiddenFor(model => Model.StartDate8)

@Html.HiddenFor(model => Model.Name9)
@Html.HiddenFor(model => Model.Position9)
@Html.HiddenFor(model => Model.Department9)
@Html.HiddenFor(model => Model.Graphics9)
@Html.HiddenFor(model => Model.FirstDuration9)
@Html.HiddenFor(model => Model.GraphicsCorrect9)
@Html.HiddenFor(model => Model.SecondDuration9)
@Html.HiddenFor(model => Model.Reason9)
@Html.HiddenFor(model => Model.StartDate9)

@Html.HiddenFor(model => Model.Name10)
@Html.HiddenFor(model => Model.Position10)
@Html.HiddenFor(model => Model.Department10)
@Html.HiddenFor(model => Model.Graphics10)
@Html.HiddenFor(model => Model.FirstDuration10)
@Html.HiddenFor(model => Model.GraphicsCorrect10)
@Html.HiddenFor(model => Model.SecondDuration10)
@Html.HiddenFor(model => Model.Reason10)
@Html.HiddenFor(model => Model.StartDate10)