@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_ReplaceCartridge_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ModelPrinter)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.ModelPrinter, new { @class = "form-control", @rows = "1", placeholder = "Модель принтера", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.RassetId)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RassetId, new { @class = "form-control", @rows = "1", placeholder = "Инвентарный номер принтера", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Qty)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Qty, new { @class = "form-control bfh-number" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Location)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Location, new { @class = "form-control", @rows = "5", placeholder = "Обоснование", @autofocus = "required" })
</div>
