@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AccessSendLotus_View
@using RapidDoc.Extensions;

<h5>Группа рассылки:</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.AllATKEmployees)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.AllATKEmployees, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ATKEmployees)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ATKEmployees, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.TopManagement)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.TopManagement, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ATKDirectionGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ATKDirectionGroup, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.VicePresident)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.VicePresident, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.President)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.President, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ATKManagementChiefs)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ATKManagementChiefs, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ATKManagementGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ATKManagementGroup, new { @disabled = true })</td>
    </tr>
</table>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>