@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_RequestPermission1C77_View
@using RapidDoc.Extensions;

<h5>Список  доступных баз:</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">Altynavto_old</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Altynavto_old, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight01, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">ATK2010</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ATK2010, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight02, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Goldservice2002_2003</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Goldservice2002_2003, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight03, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Goldservice2004_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Goldservice2004_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight04, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2005_db</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vg_2005_db, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight05, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2006</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vg_2006, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight06, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2008</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vg_2008, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight07, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vgok_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight08, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_2009</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vgok_2009, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight09, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_zp_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.vgok_zp_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight10, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Zarp2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Zarp2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight11, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.CP, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight12, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.CP_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight13, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2004</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.CP_2004, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight14, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2003</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.CP_2003, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight15, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight16, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2006</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2006, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight17, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2007</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2007, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight18, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2009</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2009, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight19, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2010</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2010, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight20, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2011</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_2011, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight21, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_AMY</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NarTab_AMY, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight22, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Base, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight23, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base_2003</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Base_2003, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight24, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base_2005</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Base_2005, new { @disabled = true })</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => Model.AccessRight25, new { @disabled = true })</td>
    </tr>
</table>

<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>