@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRChGraphConst_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>
<hr />
<h4 class="text-info" style="text-align:left;">Прошу вас согласовать изменение графиков выходов:</h4>
<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th><label class="label-required">ФИО</label><span class="required">*</span></th>
                <th><label class="label-required">Должность</label><span class="required">*</span></th>
                <th><label class="label-required">дразделение</label><span class="required">*</span></th>
                <th><label class="label-required">График утвержденный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">График скорректированный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">Причина изменения</label><span class="required">*</span></th>
                <th><label class="label-required">Период изменения(на постоянной основе)</label><span class="required">*</span></th>
                <th><label class="label-required">Заявления согласие</label><span class="required">*</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department1)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics1, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration1, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect1, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration1, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason1)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement1)
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department2)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics2, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration2, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect2, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration2, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason2)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement2)
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department3)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics3, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration3, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect3, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration3, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason3)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement3)
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department4)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics4, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration4, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect4, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration4, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason4)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement4)
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department5)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics5, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration5, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect5, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration5, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason5)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement5)
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department6)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics6, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration6, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect6, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration6, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason6)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement6)
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department7)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics7, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration7, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect7, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration7, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason7)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement5)
                </td>
            </tr>
            <tr>
                <td>
                    8
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department8)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics8, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration8, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect8, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration8, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason8)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement8)
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department9)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics9, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration9, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect9, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration9, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason9)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement9)
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department10)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics10, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration10, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect10, new { @disabled = true })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration10, new { @disabled = true })
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason10)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Agreement10)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />