@model RapidDoc.Models.ViewModels.USR_REQ_OKS_RequestForArchive_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelForRequired(model => Model.DataDoument)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DataDoument, new { @class = "form-control", placeholder = "Данные по запрашиваемому документу", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Period)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Period, new { @class = "form-control", placeholder = "Период" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", placeholder = "Причина запроса" })
</div>
