@model RapidDoc.Models.ViewModels.USR_REQ_UZL_RequestForExtraOBBGP_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Explanation)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Explanation)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FinancialSource)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FinancialSource)
</div>

<hr />
<h4 class="text-info">Требуемый срок поставки</h4>
<div>
    @Html.LabelFor(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FromDate)
</div>
<div>
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Amount)
</div>
