@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasksProlongation_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RefDocNum)
</div>
@Html.ActionLink(Model.RefDocNum.ToString(), "ShowDocument", "Document", new { id = Model.RefDocumentId, isAfterView = true }, null)

@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TextTask" } })

@Html.HiddenFor(model => model.RefDocumentId)
<br />


@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ProlongationDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Reason" } })
