@model RapidDoc.Models.ViewModels.USR_REQ_UZL_RequestForPeopleAcceptanceItems_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.Iniciator)
@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.ContactPhone)
@Html.HiddenFor(model => model.Theme)

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual5)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual5, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Специалист 1", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact1, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Контакты специалиста 1" })
</div>