@model RapidDoc.Models.ViewModels.USR_REQ_UE_RequestForDismantling_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Date)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Date)
</div>
<hr />
<div class="alert alert-info" role="alert">
    <p>Примечание: (с учетом продолжительности дня)</p>
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.AvailableEqu)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.AvailableEqu)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Telephone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Person)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Person)
</div>