@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            @Html.EnumToDescription(Model.Folder) / @Html.DisplayTextFor(model => Model.ItemCauseNumber)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => Model.DocumentTitle):
    </div>
    <div class="col-md-10">
        @Html.DisplayTextFor(model => Model.DocumentTitle)
    </div>
</div>
<hr />
<div class="well">
    @Html.DisplayTextFor(model => Model.MainField)
</div>

<div class="modal fade addusers-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@CustomRes.Custom.Users</h4>
            </div>
            <div class="modal-body" style="min-height: 250px;">
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group-addon" style="padding-right: 10px;">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <strong>Маршрут:</strong>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".documentwhom-modal"><span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <br />
                                    @Html.CheckBox("IsParallel", new { @data_labelauty = "Параллельно|Параллельно" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBox("Flow", "", new { @class = "form-control", @data_role = "tagsinputGroup2", @size = 256, @maxlength = 256, placeholder = "Маршрут" })
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" class="btn btn-primary pull-right" name="action:AddUsersDocumentCZ">@UIElementRes.UIElement.AddUsers</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade documentwhom-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sidebar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@UIElementRes.UIElement.DistributionGroup - Поле Кому</h4>
            </div>
            <div class="modal-body" style="min-height:700px;">
                @Html.Action("RoleLookup", "Role", new { prefix = "whom" })
            </div>
        </div>
    </div>
</div>
<div class="modal fade rejectcz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div id="alert_placeholder"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Отмена документа</h4>
            </div>
            <div class="modal-body" style="min-height:250px;">
                @Html.TextArea("RejectComment", new { @class = "form-control", @placeholder = "Обязательно укажите причину отмены" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" id="rejectButton" class="btn btn-danger pull-right" name="action:RejectDocumentCZ">@UIElementRes.UIElement.Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade approvecz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Утверждение документа</h4>
            </div>
            <div class="modal-body" style="min-height:200px;">
                @Html.TextArea("ApproveComment", new { @class = "form-control", @placeholder = "Замечания" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" class="btn btn-success pull-right" name="action:ApproveDocumentCZ">@UIElementRes.UIElement.Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        bootstrap_alert = function () { }
        bootstrap_alert.warning = function (message) {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>' + message + '</div>')
        }

        $('.distributiongrouplink_whom').click(function () {
            var element = $(event.target);
            var tagId = element.attr('data-itemid') + ', ' + element.attr('data-rolename');
            $('input[data-role=tagsinputGroup2]').tagsinput('add', { value: tagId, text: element.text() });
        });

        $('#rejectButton').click(function (event) {
            var comment = $('#RejectComment').val();
            if (comment == "") {
                bootstrap_alert.warning('Необходимо заполнить причину отмены');
                event.preventDefault();
            }
        });

    });
</script>