@model RapidDoc.Models.ViewModels.USR_REQ_UBP_RequestForExportWastes_View
@using RapidDoc.Extensions;

<h4 class="text-info">Таблица</h4>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field" style="font-weight:700">
        <td style="text-align:left; width: 15%;">Галка\Пометка</td>
        <td style="text-align:left; width: 45%;">Наименование отхода</td>
        <td style="text-align:left; width: 10%;">Ед. изм.</td>
        <td style="text-align:left; width: 15%;">Количество</td>
        <td style="text-align:left; width: 20%;">Вес. Кг.</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number1, new { @disabled = true })</td>
        <td style="text-align:left; ">Тигли</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number32)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number63)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number2, new { @disabled = true })</td>
        <td style="text-align:left; ">Капели</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number33)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number64)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number3, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под цианида натрия (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number34)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number65)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number4, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под цианида натрия (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number35)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number66)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number5, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под хим-реагентов (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number36)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number67)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number6, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под керамических шагов (биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number37)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number68)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number7, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под каустической соды (мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number38)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number69)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number8, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под химреагентов (пластик. Контейнер)</td>
        <td style="text-align:left; ">кг.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number39)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number70)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number9, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под химреагентов (ящик фанера)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number40)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number71)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number10, new { @disabled = true })</td>
        <td style="text-align:left; ">Бракованные остатки хим-реагентов</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number41)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number72)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number11, new { @disabled = true })</td>
        <td style="text-align:left; ">Отработанные масляные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number42)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number73)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number12, new { @disabled = true })</td>
        <td style="text-align:left; ">Отработанные топливные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number43)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number74)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number13, new { @disabled = true })</td>
        <td style="text-align:left; ">Отработанные воздушные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number44)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number75)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number14, new { @disabled = true })</td>
        <td style="text-align:left; ">Отработанные ртуть содержащие лампы</td>
        <td style="text-align:left; ">кг.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number45)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number76)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number15, new { @disabled = true })</td>
        <td style="text-align:left; ">Отработанные шины</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number46)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number77)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number16, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под ксантогинат бутиловый (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number47)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number78)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number17, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под кальценированной соды (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number48)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number79)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number18, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под ксантогинат бутиловый  (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number49)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number80)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number19, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под извести (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number50)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number81)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number20, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под железного купороса (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number51)</td>
        <td style="text-align:center; ">@Html.DisplayTextFor(model => Model.Number82)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number21, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под пиросульфит натрия (пресованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number52)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number83)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number22, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Х133 (пресованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number53)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number84)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number23, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под флотореагент (Аэрофлот) (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number54)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number85)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number24, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Пеногасителя Nalko (плстиковый контейнер)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number55)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number86)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number25, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под АЭРО (собиратель (AERO 7261 А аэро бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number56)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number87)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number26, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под АЭРО (собиратель (AERO 7279 А аэро бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number57)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number88)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number27, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Флотанола C-7133 (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number58)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number89)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number28, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Флокулянта D-FLOCK 5159 (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number59)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number90)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number29, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Буры (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number60)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number91)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number30, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Оксида кальция (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number61)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number92)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.CheckBoxFor(model => Model.Number31, new { @disabled = true })</td>
        <td style="text-align:left; ">Тара из-под Сульфаминовой кислоты (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number62)</td>
        <td style="text-align:left; ">@Html.DisplayTextFor(model => Model.Number93)</td>
    </tr>
</table>

