@model RapidDoc.Models.ViewModels.USR_REQ_UKR_RequestForExpertiseDepartment_View
@using RapidDoc.Extensions;
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.UserExecutive)

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "Исполнитель" })
</div>
