@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_ChangeRoute_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Name)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.OldRoute)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.OldRoute)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.NewRoute)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.NewRoute)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Contact)
</div>