@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AddUserSubscription_View
@using RapidDoc.Extensions;

<h4 class="text-info">Группа рассылки:</h4>
<h5 class="text-danger">отметьте нужные Вам группы рассылки галочками</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_GMO)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_GMO)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_II_ST_DOIZM)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_II_ST_DOIZM)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_KKD)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_KKD)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_KSMD)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_KSMD)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_OSPViHH)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_OSPViHH)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_OTDiI)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_OTDiI)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_RAZDFLOT)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RTDUET_RAZDFLOT)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.GuideZIF)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.GuideZIF)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.HR_Kokshetau)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.HR_Kokshetau)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.MeetingTB_ZIF)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.MeetingTB_ZIF)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.DispetcherGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.DispetcherGroup)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.InternalAuditGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.InternalAuditGroup)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Reservist2014)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Reservist2014)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RT_Duet_Comments)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.RT_Duet_Comments)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.dailydigest)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.dailydigest)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.raigorodok)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.raigorodok)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.PISystemClients)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.PISystemClients)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Manager)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Manager)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.IspolnitelnyeDirektoraATK)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.IspolnitelnyeDirektoraATK)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Otan)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Otan)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.NachalnikiUpravleniyATK)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NachalnikiUpravleniyATK)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.NachalnikiSluzhbATK)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NachalnikiSluzhbATK)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.SvodkaOTK)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.SvodkaOTK)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.OperationalNotificationKazzinc)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.OperationalNotificationKazzinc)</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.DispatchersDailyReports)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.DispatchersDailyReports)</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ChiefAccountantATK)</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ChiefAccountantATK)</td>
    </tr>


</table>

<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "5", placeholder = "Описание", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>