@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserExchange_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Email)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Email)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.CompanyName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.CompanyName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Title)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Contact)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>