@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForSelectionPersonal_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Position)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Position, new { @class = "form-control", placeholder = "Вакантная должность", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Count)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Count, new { @class = "form-control bfh-number", placeholder = "Кол-во вакансий", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @row = 5, placeholder = "Причина появления вакансий" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ClosedDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ClosedDate, new { @class = "datepicker", placeholder = "Желательная дата закрытия вакансий", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Possibility)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Possibility, new { @class = "form-control", placeholder = "Возможность привлечения иногородних" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Executive)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Executive, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "Руководитель подразделения"})
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ContactPerson)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ContactPerson, new { @class = "form-control", placeholder = "Контактное лицо" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control", placeholder = "Внутренний телефон" })
</div>

<hr />
<h4 class="text-info" style="text-align:center;">1. Требования к кандидату:</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Age)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Age, new { @class = "form-control", placeholder = "Возраст" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Education)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Education, new { @class = "form-control", placeholder = "Образование" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Experience)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Experience, new { @class = "form-control", placeholder = "Опыт работы (в какой области, стаж, должность)" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Requirement)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Requirement, new { @class = "form-control", placeholder = "Обязательные требования знаний и навыков к вакантной должности" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Skills)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Skills, new { @class = "form-control", placeholder = "Наличие желательных знаний и навыков" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Character)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Character, new { @class = "form-control", placeholder = " Личностные качества" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Additional)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Additional, new { @class = "form-control", placeholder = "Дополнительные требования" })
</div>

<hr />
<h4 class="text-info" style="text-align:center;">2. Описание позиции:</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FuncDuties)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FuncDuties, new { @class = "form-control", placeholder = "Функциональные обязанности" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.AddDuties)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.AddDuties, new { @class = "form-control", placeholder = "Дополнительные обязанности" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.DirectExecutive)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DirectExecutive, new { @class = "form-control", placeholder = "Непосредственный руководитель" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Management)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Management, new { @class = "form-control", placeholder = "В случае, если вакансия предполагает управление людьми, указать количество подчиненных" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Salary)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Salary, new { @class = "form-control", placeholder = "Ориентировочная заработная плата" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.AddSalary)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.AddSalary, new { @class = "form-control", placeholder = "Дополнительные выплаты (бонусы, премии)" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Schedule)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Schedule, new { @class = "form-control", placeholder = "График работы" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.BusinessTrip)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.BusinessTrip, new { @class = "form-control", placeholder = "Командировки: куда и как часто" })
</div>
