@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_DelegationDocflow_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FromUsers)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FromUsers, new { @class = "form-control", @rows = "1", @data_role = "tagsinputEmpl", placeholder = "С пользователя", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.ToUsers)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ToUsers, new { @class = "form-control", @rows = "1", @data_role = "tagsinputEmpl2", placeholder = "На пользователя", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FromDate, new { @class = "datepicker", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Действует с", @autofocus = "required", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ToDate, new { @class = "datepicker", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), placeholder = "Действует по", @autofocus = "required", format = "mm/dd/yyyy" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.DocumentName)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.DocumentName, new { @class = "form-control", @rows = "5", placeholder = "Наименование документа", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "5", placeholder = "Причина", @autofocus = "required" })
</div>
