@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForForeignVisa_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FirstName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FirstName, new { @class = "form-control", placeholder = "Family name, first name (Имя, Фамилия)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateAndPlace)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateAndPlace, new { @class = "form-control", placeholder = "Date and place of birth (Дата и место рождения)"})
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Citizenship)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Citizenship, new { @class = "form-control", placeholder = "Citizenship (Гражданство)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Nationality)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Nationality, new { @class = "form-control", placeholder = "Nationality (Национальность)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Passport)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Passport, new { @class = "form-control", placeholder = "Passport No., date of issue and expiry (Номер паспорта, дата выдачи и окончания действия)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Position)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Position, new { @class = "form-control", placeholder = "Place of employment, position (company's address) Место работы, должность (адрес организации)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Address)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Address, new { @class = "form-control", placeholder = "Residential address (Адрес проживания)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PlaceVisa)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.PlaceVisa, new { @class = "form-control", placeholder = "Place of visa issue (Место получие визы)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Period)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Period, new { @class = "form-control", placeholder = "Period of stay (Период пребывания)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Multiplicity)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Multiplicity, new { @class = "form-control", placeholder = "Multiplicity of visa (Многократность визы)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Purpose, new { @class = "form-control", placeholder = "Purpose of visit (Цель визита)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Route)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Route, new { @class = "form-control", placeholder = "Route of travel and the places of visit in the Republic of Kazakhstan(Маршрут путешествия, места, которые планируете посетить в Казахстане)" })
</div>

