@model RapidDoc.Models.ViewModels.USR_REQ_UB_RequestForPhotoRealization_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.FromPhotoDate)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => Model.FromPhotoDate, "MM/dd/yyyy")
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToPhotoDate)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => Model.ToPhotoDate, "MM/dd/yyyy")
</div>
<br>
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "PhotoType" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Department" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Place" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Target" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Purpose" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Name" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Equipment" } })