@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForTransfVacWorkerStraight_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Employee)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Employee, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Сотрудник, которому переносят отпуск", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Position)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Position, new { @class = "form-control", placeholder = "Должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PlanDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.PlanDate, new { @class = "datepicker form-control form-control-date", placeholder = "Запланированная дата отпуска по графику", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TransferDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.TransferDate, new { @class = "form-control", placeholder = "Перенести на" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", placeholder = "Причина" })
</div>
