@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-12">
        <div>
           <h6>@Html.EnumToDescription(Model.Folder) / @Html.DisplayTextFor(model => Model.ItemCauseNumber)</h6>
        </div>
    </div>
</div>
<div class="row hidden-print">
    <div class="col-xs-2">
        @Html.LabelFor(model => Model.Whom):
    </div>
    <div class="col-xs-10">
        @Html.DisplayTextFor(model => Model.Whom)
    </div>
</div>
<div class="row hidden-print">
    <div class="col-xs-2">
        @Html.LabelFor(model => Model.DocumentCopy):
    </div>
    <div class="col-xs-10">
        @Html.DisplayTextFor(model => Model.DocumentCopy)
    </div>
</div>
<div class="row hidden-print">
    <div class="col-xs-2">
        @Html.LabelFor(model => Model.FromWhom):
    </div>
    <div class="col-xs-10">
        @Html.DisplayTextFor(model => Model.FromWhom)
    </div>
</div>
<div class="row hidden-print">
    <div class="col-xs-2">
        @Html.LabelFor(model => Model.DocumentTitle):
    </div>
    <div class="col-xs-10">
        @Html.DisplayTextFor(model => Model.DocumentTitle)
    </div>
</div>



<div class="row visible-print">
    <div class="col-xs-12">
        <br />
        @Html.LabelFor(model => Model.Whom): @Html.DisplayTextFor(model => Model.Whom)
    </div>
</div>
<div class="row visible-print">
    <div class="col-xs-12">
        <br />
        @Html.LabelFor(model => Model.DocumentCopy): @Html.DisplayTextFor(model => Model.DocumentCopy)
    </div>
</div>
<div class="row visible-print">
    <div class="col-xs-12">
        <br />
        @Html.LabelFor(model => Model.FromWhom): @Html.DisplayTextFor(model => Model.FromWhom)
    </div>
</div>

<div class="row visible-print">
    <div class="col-xs-12">
        <br />
        @Html.LabelFor(model => Model.DocumentTitle): @Html.DisplayTextFor(model => Model.DocumentTitle)
    </div>
</div>
<div class="row" style="background-color: #fff; border-bottom: 2px solid #bdc3c7; border-top: 2px solid #bdc3c7;">
    <div class="col-xs-12">
        @Html.Raw(Model.MainField)
    </div>
</div>

<div class="modal fade addusers-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@CustomRes.Custom.Users</h4>
            </div>
            <div class="modal-body" style="min-height: 180px;">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a href="#" class="hidden-print" data-toggle="modal" data-target=".documentwhom-modal"><span class="fa fa-users fa-lg" aria-hidden="false"></span></a>
                    </span>
                    @Html.TextBox("Flow", "", new { @class = "form-control", @data_role = "tagsinputGroup2", @size = 256, @maxlength = 256, placeholder = "Маршрут согласования" })
                </div>
                <br />
                <span>
                    @Html.CheckBox("IsParallel", true, new { @data_labelauty = "Параллельно|Параллельно" })
                </span>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="action:AddUsersDocumentCZ">@UIElementRes.UIElement.AddUsers</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade documentwhom-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sidebar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@UIElementRes.UIElement.DistributionGroup - Поле Кому</h4>
            </div>
            <div class="modal-body" style="min-height:700px;">
                @Html.Action("RoleLookup", "Role", new { prefix = "whom" })
            </div>
        </div>
    </div>
</div>
<div class="modal fade rejectcz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert_placeholder"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Отмена документа</h4>
            </div>
            <div class="modal-body" style="min-height:250px;">
                @Html.TextArea("RejectComment", new { @class = "form-control", @placeholder = "Обязательно укажите причину отмены" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" id="rejectCZ" class="btn btn-danger pull-right" name="action:RejectDocumentCZ">@UIElementRes.UIElement.Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade approvecz-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Утверждение документа</h4>
            </div>
            <div class="modal-body" style="min-height:200px;">
                @Html.TextArea("ApproveComment", new { @class = "form-control", @placeholder = "Замечания" })
                <br>
                <div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@UIElementRes.UIElement.Cancel</button>
                    <button type="submit" class="btn btn-success pull-right" name="action:ApproveDocumentCZ">@UIElementRes.UIElement.Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        bootstrap_alert = function () { }
        bootstrap_alert.warning = function (message) {
            $('.alert_placeholder').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>' + message + '</div>')
        }
        $('.distributiongrouplink_whom').click(function () {
            var element = $(event.target);
            var tagId = element.attr('data-itemid') + ', ' + element.attr('data-rolename');
            $('input[data-role=tagsinputGroup2]').tagsinput('add', { value: tagId, text: element.text() });
        });

        $('#rejectCZ').click(function (event) {
            alert('hghhh');
            var comment = $('#RejectComment').val();
            if (comment == "") {
                bootstrap_alert.warning('Необходимо заполнить причину отмены');
                event.preventDefault();
                return false;
            }
        });
    });
</script>