@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_RemoveSignLotus_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DeleteSignLotus)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.DeleteSignLotus, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.AuthorDocument)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.AuthorDocument, new { @class = "form-control", @rows = "1", placeholder = "Автор документа", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.DocumentName)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.DocumentName, new { @class = "form-control", @rows = "1", placeholder = "Наименование документа и база", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.DocumentDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DocumentDate, new { @class = "datetimepicker", placeholder = "Дата/время документа", @autofocus = "required", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.SignName)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.SignName, new { @class = "form-control", @rows = "1", placeholder = "ФИО согласовавшего", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "5", placeholder = "Обоснование", @autofocus = "required" })
</div>
<div>
    <p>
        <em>Примечание:</em>
    </p>
    <ul>
        <li>
            <em>инициировать данный запрос может только автор удаляемого документа.</em>
        </li>
        <li>
            <em>в базе &laquo;Заявки&raquo; и &laquo;СВД&raquo; нет возможности удаления подписи.</em>
        </li>
    </ul>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}