@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserAutograf_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Contact, new { @class = "form-control", @rows = "1", placeholder = "Контактный телефон", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "5", placeholder = "Обоснование", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>