@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRChGraphConst_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "ИД Блока" })
</div>
<hr />
<h4 class="text-info" style="text-align:left;">Прошу вас согласовать изменение графиков выходов:</h4>
<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th><label class="label-required">ФИО</label><span class="required">*</span></th>
                <th><label class="label-required">Должность</label><span class="required">*</span></th>
                <th><label class="label-required">Подразделение</label><span class="required">*</span></th>
                <th><label class="label-required">График утвержденный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">График скорректированный</label><span class="required">*</span></th>
                <th><label class="label-required">Продолжительность рабочей смены</label><span class="required">*</span></th>
                <th><label class="label-required">Причина изменения</label><span class="required">*</span></th>
                <th><label class="label-required">Период изменения</label><span class="required">*</span></th>
                <th><label class="label-required">Заявления согласие</label><span class="required">*</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics1, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration1, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect1, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration1, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason1, new { @class = "", @maxlength = 256, placeholder = "Убедительная просьба расписывать причину полностью, не приеняя слово 'Производственная необходиость'" })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate1, new { @class = "datepicker", placeholder = "", startDate = "" })                 
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement1, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics2, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration2, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect2, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration2, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate2, new { @class = "datepicker", placeholder = "", startDate = "" })              
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement2, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics3, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration3, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect3, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration3, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate3, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement3, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics4, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration4, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect4, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration4, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate4, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement4, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics5, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration5, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect5, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration5, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason5, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate5, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement5, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics6, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration6, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect6, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration6, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason6, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate6, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement6, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics7, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration7, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect7, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration7, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason7, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate7, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement5, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    8
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics8, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration8, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect8, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration8, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason8, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate8, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement8, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    9
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics9, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration9, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect9, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration9, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason9, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate9, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement9, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
            <tr>
                <td>
                    10
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name10, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position10, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Department10, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Graphics10, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.FirstDuration10, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.GraphicsCorrect10, new { @class = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.SecondDuration10, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Reason10, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    C @Html.TextBoxFor(model => Model.StartDate10, new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Agreement10, new { @class = "", @maxlength = 256 })
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />