@model RapidDoc.Models.ViewModels.USR_REQ_YT_PassangerTransportOutOrganizationOper_View
@using RapidDoc.Extensions;

<h4 class="text-info">Прошу выделить легковой транспорт:</h4>
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Place" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "PurposeTrip" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "StartDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EndDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EmplTrip" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Title" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "EmplName" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Organization" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Purpose" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Phone" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "PlaceDeparture" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Flight" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Account" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Terms" } })
@Html.Action("GetRequestPassangerTransportOutOrganizationOper", "Custom", new { model = Model })
<hr />
<h4 class="text-info">Для заполнения водителю:</h4>
<h5>Показания одометра на начало поездки________________</h5>
<h5>Показания одометра на конец поездки_________________</h5>
<h5>Количество полученных талонов______________________</h5>
<h5>Подпись водителя __________________________________</h5>
<br />
<h4 class="text-info">ПРИМЕЧАНИЕ:</h4>
<h5 class="text-danger">Транспорт предоставляется при наличии договора или контракта, где указано о предоставление транспорта</h5>
<h5 class="text-danger">В случае заказа транспорта без договора, по ходатайству инициатора, затраты будут относиться на Цех инициатора</h5>
<h5 class="text-danger">Запрещено ОТКЛОНЯТЬСЯ ОТ МАРШРУТА</h5>