@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

@Html.ValidationSummary(true)

<div class="row">
    <div class="col-md-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Folder)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Folder, new { @class = "selectpickerfull" })
        </div>
    </div>
    <div class="col-md-8">
        <div class="editor-label">
            @Html.LabelFor(model => model.ItemCauseNumber)
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="editor-field">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".itemcause-modal">@UIElementRes.UIElement.Choose...</button>
                </div>
            </div>
            <div class="col-md-10">
                <input id="ItemCauseTableId" name="ItemCauseTableId" type="hidden" value="" />
                <span id="ItemCauseTableName"></span>
            </div>
        </div>
    </div>
</div>
<br />
<div class="editor-field">
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon1"><strong>Кому:&nbsp;&nbsp;</strong>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".documentwhom-modal"><span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
        </span>
        @Html.TextBoxFor(model => Model.DocumentWhom, new { @class = "form-control", @data_role = "tagsinputGroup2", @size = 256, @maxlength = 256, placeholder = "Кому", aria_describedby = "sizing-addon1" })
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        <div class="editor-label">
            @Html.LabelForRequired(model => Model.Parallel)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => Model.Parallel)
        </div>
    </div>
</div>

<br />   
    <div class="editor-field">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon2">
                <strong>Копия:</strong>
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".documentcopy-modal"><span class="glyphicon glyphicon-plus" aria-hidden="false"></span></button>
            </span>
            @Html.TextBoxFor(model => Model.DocumentCopy, new { @class = "form-control", @data_role = "tagsinputGroup", @size = 256, @maxlength = 256, placeholder = "Копия", aria_describedby = "sizing-addon2" })
        </div>
    </div>
    <br />
    <div class="editor-field">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3"><strong>Тема:<span class="required">*</span></strong>&nbsp;</span>
            @Html.TextBoxFor(model => Model.DocumentTitle, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Тема", aria_describedby = "sizing-addon3", autofocus = "required" })
        </div>
    </div>
    <br />
    <div class="editor-field">
        @Html.TextAreaFor(model => Model.MainField, new { @class = "form-control summernote" })
    </div>
    <div class="modal fade itemcause-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sidebar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@CustomRes.Custom.ItemCause</h4>
                </div>
                <div class="modal-body" style="min-height:700px;">
                    @Html.Action("ItemCausesListLookup", "ItemCause")
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade documentwhom-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sidebar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@UIElementRes.UIElement.DistributionGroup - Поле Кому</h4>
                </div>
                <div class="modal-body" style="min-height:700px;">
                    @Html.Action("RoleLookup", "Role", new { prefix = "whom" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade documentcopy-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sidebar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@UIElementRes.UIElement.DistributionGroup - Поле Копия</h4>
                </div>
                <div class="modal-body" style="min-height:700px;">
                    @Html.Action("RoleLookup", "Role", new { prefix = "copy" })
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.itemcauseslink').click(function () {
                var element = $(event.target);
                $('#ItemCauseTableId').val(element.attr('data-itemid'));
                $('#ItemCauseTableName').text(element.text());
            });

            $('.distributiongrouplink_whom').click(function () {
                var element = $(event.target);
                var tagId = element.attr('data-itemid') + ', ' + element.attr('data-rolename');
                $('input[data-role=tagsinputGroup2]').tagsinput('add', { value: tagId, text: '[ ' + element.text() + ' ]' });
            });

            $('.distributiongrouplink_copy').click(function () {
                var element = $(event.target);
                var tagId = element.attr('data-itemid') + ', ' + element.attr('data-rolename');
                $('input[data-role=tagsinputGroup]').tagsinput('add', { value: tagId, text: '[ ' + element.text() + ' ]' });
            });
        });
    </script>
