@model RapidDoc.Models.ViewModels.USR_REQ_SGMZIF_RequestForRepair_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datepicker", placeholder = "Дата", @autofocus = "required", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Information)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Information, new { @class = "form-control", @rows = "3", placeholder = "Сведения о заполняющем", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Department, new { @class = "form-control", @rows = "1", placeholder = "Подразделение", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Contact, new { @class = "form-control", @rows = "1", placeholder = "Контактное лицо", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Telephone, new { @class = "form-control", @rows = "1", placeholder = "Контактный телефон", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Equipment)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Equipment, new { @class = "form-control", @rows = "3", placeholder = "Наименование оборудования, позиция по схеме", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DescriptionFail)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.DescriptionFail, new { @class = "form-control", @rows = "3", placeholder = "Описание неисправности", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TypeEngine)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.TypeEngine, new { @class = "form-control", @rows = "1", placeholder = "Тип двигателя", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PowerEngine)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.PowerEngine, new { @class = "form-control", @rows = "1", placeholder = "Номинальная мощность (кВт)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Speed)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Speed, new { @class = "form-control", @rows = "1", placeholder = "Номинальная частота вращения (об/мин)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Current)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Current, new { @class = "form-control", @rows = "1", placeholder = "Номинальный ток", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Voltage)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Voltage, new { @class = "form-control", @rows = "1", placeholder = "Номинальное напряжение (В)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.SchemeConnection)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.SchemeConnection, new { @class = "form-control", @rows = "1", placeholder = "Схема соединения", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RateDefense)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RateDefense, new { @class = "form-control", @rows = "1", placeholder = "Степерь защиты (IP)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.InstallPerformance)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.InstallPerformance, new { @class = "form-control", @rows = "1", placeholder = "Монтажное исполнение: IM (крепление с помощью фланца и т.д.)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.SerialNumber)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.SerialNumber, new { @class = "form-control", @rows = "1", placeholder = "Заводской (серийный) номер", @autofocus = "required" })
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}