@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_SetPersonalButton_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => Model.ServiceTypeButtonNo01)
@Html.HiddenFor(model => Model.TextButtonNo01)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo02)
@Html.HiddenFor(model => Model.TextButtonNo02)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo03)
@Html.HiddenFor(model => Model.TextButtonNo03)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo04)
@Html.HiddenFor(model => Model.TextButtonNo04)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo05)
@Html.HiddenFor(model => Model.TextButtonNo05)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo06)
@Html.HiddenFor(model => Model.TextButtonNo06)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo07)
@Html.HiddenFor(model => Model.TextButtonNo07)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo08)
@Html.HiddenFor(model => Model.TextButtonNo08)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo09)
@Html.HiddenFor(model => Model.TextButtonNo09)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo10)
@Html.HiddenFor(model => Model.TextButtonNo10)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo11)
@Html.HiddenFor(model => Model.TextButtonNo11)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo12)
@Html.HiddenFor(model => Model.TextButtonNo12)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo13)
@Html.HiddenFor(model => Model.TextButtonNo13)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo14)
@Html.HiddenFor(model => Model.TextButtonNo14)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo15)
@Html.HiddenFor(model => Model.TextButtonNo15)
@Html.HiddenFor(model => Model.ServiceTypeButtonNo16)
@Html.HiddenFor(model => Model.TextButtonNo16)

<h4 class="text-info">Номера кнопок</h4>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo01, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo01)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo02, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo02)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo03, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo03)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo04, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo04)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo05, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo05)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo06, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo06)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo07, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo07)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo08, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo08)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo09, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo09)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo10, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo10)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo11, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo11)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo12, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo12)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo13, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo13)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo14, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo14)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo15, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo15)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ServiceTypeButtonNo16, new { @disabled = true })
    @Html.DisplayTextFor(model => Model.TextButtonNo16)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.RequestText)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>