@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_ReissueComputer_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.CopmputerName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.CopmputerName)
</div>
<hr />
@Html.Action("GetReissueComputerData", "Custom", new { model = Model })
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.FromUsers)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.FromUsers)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToUsers)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.ToUsers)
</div>