@model RapidDoc.Models.ViewModels.USR_REQ_KD_RequestForCompetitonProcUZL_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.NamePurchase)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.NamePurchase)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.BudgetArticle)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.BudgetArticle)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Project)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Project)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Amount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Circumstance)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Circumstance)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Destination)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Destination)
</div>
@Html.Action("GetManualRequest1", "Custom", new { model = Model })