@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRCardITR2_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)

@Html.HiddenFor(model => model.OnPosition)
@Html.HiddenFor(model => model.Name)
@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.Phone)
@Html.HiddenFor(model => model.UserChooseManual1)
@Html.HiddenFor(model => model.Tutor)
@Html.HiddenFor(model => model.Circumstances)
@Html.HiddenFor(model => model.SalaryCode)
@Html.HiddenFor(model => model.Period)
@Html.HiddenFor(model => model.Schedule)
@Html.HiddenFor(model => model.Solution)
@Html.HiddenFor(model => model.Status)
@Html.HiddenFor(model => model.External)
@Html.HiddenFor(model => model.Report1)
@Html.HiddenFor(model => model.DateInterview1)
@Html.HiddenFor(model => model.Opinion1)
@Html.HiddenFor(model => model.Reason1)
@Html.HiddenFor(model => model.Report2)
@Html.HiddenFor(model => model.DateInterview2)
@Html.HiddenFor(model => model.Opinion2)
@Html.HiddenFor(model => model.Reason2)
@Html.HiddenFor(model => model.Report3)
@Html.HiddenFor(model => model.DateInterview3)
@Html.HiddenFor(model => model.Opinion3)
@Html.HiddenFor(model => model.Reason3)

<hr />
<h4 class="text-info" style="text-align:left;">4-ое собеседование (Заключение Исполнительного Директора)</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Report4)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Report4, new { @class = "form-control", @row = 5, placeholder = "Отчет" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateInterview4)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateInterview4, new { @class = "datepicker", placeholder = "Дата собеседования или телефоного интервью", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Opinion4)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.Opinion4, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason4)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason4, new { @class = "form-control", @row = 5, placeholder = "Причины" })
</div>