@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForPaymentFirstDay_View
@using RapidDoc.Extensions;

<script type="text/javascript">
    $(function () {
        $('#Name1').blur(function () {
            if ($('#Name1').val())
                $('#Amount1').val("1982");
            else
                $('#Amount1').val("");
        });
        $('#Name2').blur(function () {
            if ($('#Name2').val())
                $('#Amount2').val("1982");
            else
                $('#Amount2').val("");
        });
        $('#Name3').blur(function () {
            if ($('#Name3').val())
                $('#Amount3').val("1982");
            else
                $('#Amount3').val("");
        });
        $('#Name4').blur(function () {
            if ($('#Name4').val())
                $('#Amount4').val("1982");
            else
                $('#Amount4').val("");
        });
    });
</script>

<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th><label class="label-required">ФИО водителя</label><span class="required">*</span></th>
                <th><label class="label-required">Подразделение</label><span class="required">*</span></th>
                <th><label class="label-required">Должность</label><span class="required">*</span></th>
                <th><label class="label-required">Дата командировки</label><span class="required">*</span></th>
                <th><label class="label-required">Направление</label><span class="required">*</span></th>
                <th><label class="label-required">Срок командировки</label><span class="required">*</span></th>
                <th><label class="label-required">Сумма к начислению(тенге, 1 МРП)</label><span class="required">*</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Department1, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position1, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.StartDate1, "{0:dd.MM.yyyy}", new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Destination1, new { @class = "" })
                </td>
                
                <td>
                    @Html.TextBoxFor(model => Model.Term1, new { @class = "form-control bfh-number" })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Amount1, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;", @readonly = true })
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Department2, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position2, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.StartDate2, "{0:dd.MM.yyyy}", new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Destination2, new { @class = "" })
                </td>

                <td>
                    @Html.TextBoxFor(model => Model.Term2, new { @class = "form-control bfh-number" })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Amount2, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;", @readonly = true })
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Department3, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position3, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.StartDate3, "{0:dd.MM.yyyy}", new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Destination3, new { @class = "" })
                </td>

                <td>
                    @Html.TextBoxFor(model => Model.Term3, new { @class = "form-control bfh-number" })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Amount3, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;", @readonly = true })
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Department4, new { @class = "" })
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Position4, new { @class = "", @maxlength = 256 })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.StartDate4, "{0:dd.MM.yyyy}", new { @class = "datepicker", placeholder = "", startDate = "" })
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => Model.Destination4, new { @class = "" })
                </td>

                <td>
                    @Html.TextBoxFor(model => Model.Term4, new { @class = "form-control bfh-number" })
                </td>
                <td>
                    @Html.TextBoxFor(model => Model.Amount4, new { @class = "form-control", @size = 256, @maxlength = 256, @style = "resize: none;", @readonly = true })
                </td>
            </tr>
        </tbody>
    </table>
</div>

