@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserAD_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ActiveDirectory)
</div>
<div class="editor-field">
    @Html.CheckBoxFor(model => Model.ActiveDirectory, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Exchange)
</div>
<div class="editor-field">
   @Html.CheckBoxFor(model => Model.Exchange, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.BirthDay)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.BirthDay)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Title)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Title)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.BlocksATK)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.BlocksATK, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Department)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ToDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Contact)
</div>
<h5>Примечание:
После окончания срока действия учетная запись будет автоматически заблокирована.</h5>

