@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_RecoveryData_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.PathFile)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.PathFile)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.FileName)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.FileName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.LastDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.LastDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Contact)
</div>