@model RapidDoc.Models.ViewModels.USR_REQ_YT_StandbyTransportUIT_View
@using RapidDoc.Extensions;

@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Client" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "StartDate" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "StartWorkTime" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Route" } })
@Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "Purpose" } })
@Html.Action("GetRequestStandbyTransport", "Custom", new { model = Model })
<hr />
<h4>Время выезда/подпись диспетчера_________________________</h4>
<h4>Время заезда/подпись заказчика__________________________</h4>
<hr />
<h4 class="text-danger">*Контроль использования транспортного средства ведется системой "Автограф" (превышение скоростного режима или отклонение от маршрута)</h4>
<h4 class="text-danger">*Выезд по заявке с терминала</h4>