@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateUserLotus_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "ФИО", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Title)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Title, new { @class = "form-control", placeholder = "Должность" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @rows = "3", placeholder = "Описание" })
</div>