@model RapidDoc.Models.ViewModels.USR_REQ_SGMZIF_RequestForRepair_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datepicker", placeholder = "Дата", @autofocus = "required", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Information)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Information, new { @class = "form-control", @rows = "3", placeholder = "Сведения о заполняющем" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Contact, new { @class = "form-control", placeholder = "Контактное лицо" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Telephone, new { @class = "form-control", placeholder = "Контактный телефон" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Equipment)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Equipment, new { @class = "form-control", @rows = "3", placeholder = "Наименование оборудования, позиция по схеме" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DescriptionFail)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.DescriptionFail, new { @class = "form-control", @rows = "3", placeholder = "Описание неисправности" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TypeEngine)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.TypeEngine, new { @class = "form-control", placeholder = "Тип двигателя" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PowerEngine)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.PowerEngine, new { @class = "form-control", placeholder = "Номинальная мощность (кВт)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Speed)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Speed, new { @class = "form-control", placeholder = "Номинальная частота вращения (об/мин)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Current)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Current, new { @class = "form-control", placeholder = "Номинальный ток" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Voltage)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Voltage, new { @class = "form-control", placeholder = "Номинальное напряжение (В)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.SchemeConnection)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.SchemeConnection, new { @class = "form-control", placeholder = "Схема соединения" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.RateDefense)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.RateDefense, new { @class = "form-control", placeholder = "Степерь защиты (IP)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.InstallPerformance)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.InstallPerformance, new { @class = "form-control", placeholder = "Монтажное исполнение: IM (крепление с помощью фланца и т.д.)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.SerialNumber)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.SerialNumber, new { @class = "form-control", placeholder = "Заводской (серийный) номер" })
</div>

@section jslaunch {
    datepicker_init("@UIElementRes.UIElement.LangName");
}