@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForAccrualZIF_View
@using RapidDoc.Extensions;

<h4 class="text-info">Направляем Вам информацию по исполнению критериев результативности для начисления ежемесячной премии:</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "ИД Блока" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Period)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Period, new { @class = "form-control", placeholder = "Период" })
</div>