@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_DeleteRezervationNumber_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ActionsPhone)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ActionsPhone, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.PeriodTime)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PeriodTime)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>