@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AddOrChangeTemplate_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ActionType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.ActionType, new { @class = "selectpicker", @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Path)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Path)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Name)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Contact)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Contact)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Description)
</div>
