@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_RemoveSignLotus_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => Model.DocumentDate)
<div class="editor-label">
    @Html.LabelFor(model => Model.DeleteSignLotus)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.DeleteSignLotus, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.AuthorDocument)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.AuthorDocument)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.DocumentName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DocumentName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.DocumentDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DocumentDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.SignName)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.SignName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>