@model RapidDoc.Models.ViewModels.USR_REQ_UBP_RequestForExportWastes_View
@using RapidDoc.Extensions;

<table cellpadding="30" cellspacing="10">
    <tr class="editor-field" style="font-weight:700">
        <td style="text-align:left; width: 5%;"></td>
        <td style="text-align:left; width: 55%;">Наименование отхода</td>
        <td style="text-align:left; width: 10%;">Ед. изм.</td>
        <td style="text-align:left; width: 15%;">Количество</td>
        <td style="text-align:left; width: 20%;">Вес. Кг.</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;" >@Html.EditorFor(model => model.Number1)</td>
        <td style="text-align:left;" >Тигли</td>
        <td style="text-align:left;">шт.</td>
        <td style="text-align:left;" >@Html.TextBoxFor(model => Model.Number32, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number63, new { @class = "form-control", placeholder = "Вес. Кг." })</td>     
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number2)</td>
        <td style="text-align:left; ">Капели</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number33, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number64, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number3)</td>
        <td style="text-align:left; ">Тара из-под цианида натрия (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number34, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number65, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number4)</td>
        <td style="text-align:left; ">Тара из-под цианида натрия (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number35, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number66, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number5)</td>
        <td style="text-align:left; ">Тара из-под хим-реагентов (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number36, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number67, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number6)</td>
        <td style="text-align:left; ">Тара из-под керамических шагов (биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number37, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number68, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number7)</td>
        <td style="text-align:left; ">Тара из-под каустической соды (мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number38, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number69, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number8)</td>
        <td style="text-align:left; ">Тара из-под химреагентов (пластик. Контейнер)</td>
        <td style="text-align:left; ">кг.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number39, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number70, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number9)</td>
        <td style="text-align:left; ">Тара из-под химреагентов (ящик фанера)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number40, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number71, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number10)</td>
        <td style="text-align:left; ">Бракованные остатки хим-реагентов</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number41, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number72, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number11)</td>
        <td style="text-align:left; ">Отработанные масляные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number42, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number73, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number12)</td>
        <td style="text-align:left; ">Отработанные топливные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number43, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number74, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number13)</td>
        <td style="text-align:left; ">Отработанные воздушные фильтры</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number44, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number75, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number14)</td>
        <td style="text-align:left; ">Отработанные ртуть содержащие лампы</td>
        <td style="text-align:left; ">кг.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number45, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number76, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number15)</td>
        <td style="text-align:left; ">Отработанные шины</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number46, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number77, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number16)</td>
        <td style="text-align:left; ">Тара из-под ксантогинат бутиловый (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number47, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number78, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number17)</td>
        <td style="text-align:left; ">Тара из-под кальценированной соды (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number48, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number79, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number18)</td>
        <td style="text-align:left; ">Тара из-под ксантогинат бутиловый  (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number49, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number80, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number19)</td>
        <td style="text-align:left; ">Тара из-под извести (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number50, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number81, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number20)</td>
        <td style="text-align:left; ">Тара из-под железного купороса (прессованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number51, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number82, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number21)</td>
        <td style="text-align:left; ">Тара из-под пиросульфит натрия (пресованные биг-бэги)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number52, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number83, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number22)</td>
        <td style="text-align:left; ">Тара из-под Х133 (пресованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number53, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number84, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number23)</td>
        <td style="text-align:left; ">Тара из-под флотореагент (Аэрофлот) (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number54, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number85, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number24)</td>
        <td style="text-align:left; ">Тара из-под Пеногасителя Nalko (плстиковый контейнер)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number55, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number86, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number25)</td>
        <td style="text-align:left; ">Тара из-под АЭРО (собиратель (AERO 7261 А аэро бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number56, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number87, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number26)</td>
        <td style="text-align:left; ">Тара из-под АЭРО (собиратель (AERO 7279 А аэро бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number57, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number88, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number27)</td>
        <td style="text-align:left; ">Тара из-под Флотанола C-7133 (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number58, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number89, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number28)</td>
        <td style="text-align:left; ">Тара из-под Флокулянта D-FLOCK 5159 (прессованные бочки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number59, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number90, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number29)</td>
        <td style="text-align:left; ">Тара из-под Буры (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number60, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number91, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number30)</td>
        <td style="text-align:left; ">Тара из-под Оксида кальция (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number61, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number92, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left; ">@Html.EditorFor(model => model.Number31)</td>
        <td style="text-align:left; ">Тара из-под Сульфаминовой кислоты (прессованные мешки)</td>
        <td style="text-align:left; ">шт.</td>
        <td style="text-align:left; ">@Html.TextBoxFor(model => Model.Number62, new { @class = "form-control", placeholder = "Количество" })</td>
        <td style="text-align: center; ">@Html.TextBoxFor(model => Model.Number93, new { @class = "form-control", placeholder = "Вес. Кг." })</td>
    </tr>
</table>