@model RapidDoc.Models.ViewModels.USR_REQ_TRIP_RegistrationBusinessTripForeign_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Сотрудник (ФИО)", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Title)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Title, new { @class = "form-control", placeholder = "Должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "Делопроизводитель", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.CategoryTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.CategoryTrip, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.TypeTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.TypeTrip, new { @class = "selectpicker" })
</div>

<hr />
<h4 class="text-info">Срок командировки</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.StartDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.StartDate, new { @class = "datepicker", placeholder = "c", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.EndDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.EndDate, new { @class = "datepicker", placeholder = "по", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Days)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Days, new { @class = "form-control bfh-number", placeholder = "Количество дней", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.City)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.City, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Purpose, new { @class = "form-control", @row = 5, placeholder = "Цель командировки" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PassageTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PassageTrip, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Organization)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Organization, new { @class = "form-control", @row = 5, placeholder = "Организация" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PaymentTripPassage)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripPassage, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PaymentTripDaily)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripDaily, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.PaymentTripLive)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripLive, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Purpose, new { @class = "form-control", @row = 5, placeholder = "Цель командировки" })
</div>