@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_SetPersonalButton_View
@{
    Model.ServiceTypeButtonNo01 = RapidDoc.Models.Repository.ServiceType.CallAppr;
    Model.ServiceTypeButtonNo02 = RapidDoc.Models.Repository.ServiceType.CallAppr;
    Model.ServiceTypeButtonNo03 = RapidDoc.Models.Repository.ServiceType.CallAppr;      
}
@using RapidDoc.Extensions;

<h4 class="text-info">Номера кнопок</h4>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">01</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo01, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo01, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">02</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo02, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo02, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">03</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo03, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo03, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">04</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo04, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo04, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">05</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo05, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo05, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">06</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo06, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo06, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">07</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo07, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo07, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">08</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo08, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo08, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">09</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo09, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo09, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">10</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo10, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo10, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">11</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo11, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo11, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">12</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo12, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo12, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">13</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo13, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo13, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">14</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo14, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo14, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">15</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo15, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo15, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>
<div class="editor-field">
    <span class="label label-primary rowNum cellAligmentMiddle">16</span>
    @Html.EnumDropDownListFor(model => model.ServiceTypeButtonNo16, new { @class = "selectpicker" })
    @Html.TextBoxFor(model => model.TextButtonNo16, new { @class = "freeControl", placeholder = "Номер телефона" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RequestText, new { @class = "form-control", @rows = "10", placeholder = "Дополнительные сведения" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Номер телефона пользователя" })
</div>