@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForWVFinBlock_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Employee)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Employee, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Отзываемый сотрудник", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Position)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Position, new { @class = "form-control", placeholder = "Должность" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "ИД Блока" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Subject)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Subject, new { @class = "form-control", placeholder = "Отозвать с" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @row = 5, placeholder = "Обоснование" })
</div>