@model RapidDoc.Models.ViewModels.USR_TAS_DailyTasks_View
@using RapidDoc.Extensions;


@if (Model.RefDocumentId.HasValue && Model.RefDocumentId != Guid.Empty)
{
    <div class="editor-label">
        @Html.LabelForRequired(model => Model.RefDocNum)
    </div>
    @Html.ActionLink(Model.RefDocNum.ToString(), "ShowDocument", "Document", new { id = Model.RefDocumentId, isAfterView = true }, null)

    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "ExecutionDate" } })
    @Html.Partial("_DocumentViewFields", Model, new ViewDataDictionary(ViewData) { { "FieldName", "TextTask" } })

    @Html.HiddenFor(model => model.RefDocumentId)
    @Html.HiddenFor(model => model.RefDocNum)
    <br />
}    

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ExecutionDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ExecutionDate, null, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control form-control-date", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower(), format = "mm/dd/yyyy", placeholder = "Дата", startDate = "" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Исполнители" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.MainField)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.MainField, new { @class = "form-control summernote" })
</div>


