@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_ReissueComputer_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AliasCompanyName)
@Html.HiddenFor(model => model.CompanyTableId)
@Html.HiddenFor(model => model.CopmputerName)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.FromUsers)
@Html.HiddenFor(model => model.MonitorModel)
@Html.HiddenFor(model => model.MonitorSerial)
@Html.HiddenFor(model => model.NotebookModel)
@Html.HiddenFor(model => model.NotebookSerial)
@Html.HiddenFor(model => model.OtherEquipmentModel)
@Html.HiddenFor(model => model.OtherEquipmentSerial)
@Html.HiddenFor(model => model.PrinterModel)
@Html.HiddenFor(model => model.PrinterSerial)
@Html.HiddenFor(model => model.SystemUnitModel)
@Html.HiddenFor(model => model.SystemUnitSerial)
@Html.HiddenFor(model => model.ToUsers)

<div class="table-responsive">
    <table cellpadding="10" cellspacing="10" class="table table-bordered table-bordered-bold">
        <thead>
            <tr>
                <td style="text-align: center; font-weight:bold;">Наименование</td>
                <td style="text-align: center; font-weight: bold;">Модель</td>
                <td style="text-align: center; font-weight: bold;">Серийный номер</td>
                <td style="text-align: center; font-weight: bold;">Инвентарный номер</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: left; font-weight:bold;">Системный блок</td>
                <td style="text-align: center; width: 25%; ">@Html.DisplayTextFor(model => Model.SystemUnitModel)</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.SystemUnitSerial)</td>
                <td style="text-align: left; width: 25%;">@Html.TextAreaFor(model => Model.SystemUnitItemId, new { @class = "form-control flat", @style = "resize: none;" })</td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Ноутбук</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.NotebookModel)</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.NotebookSerial)</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.NotebookItemId, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Монитор</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.MonitorModel)</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.MonitorSerial)</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.MonitorItemId, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Принтер</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.PrinterModel)</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.PrinterSerial)</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.PrinterItemId, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
            </tr>
            <tr>
                <td style="text-align: left; font-weight:bold;">Прочее оборудование</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.OtherEquipmentModel)</td>
                <td style="text-align: center; width: 25%;">@Html.DisplayTextFor(model => Model.OtherEquipmentSerial)</td>
                <td style="text-align:left; width: 25%;">@Html.TextAreaFor(model => Model.OtherEquipmentItemId, new { @class = "form-control flat", @rows = "1", @style = "resize: none;" })</td>
            </tr>
        </tbody>
    </table>
</div>
