@model RapidDoc.Models.ViewModels.USR_REQ_UB_RequestForInOutNotebook_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelForRequired(model => Model.Organization)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Organization, new { @class = "form-control", placeholder = "Наименование организации", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Model)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Model, new { @class = "form-control", placeholder = "Модель ноутбука" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "ФИО владельца" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ObjectAccess)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ObjectAccess, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Aim)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Aim, new { @class = "form-control", placeholder = "Цель" })
</div>

<hr />
<h4 class="text-info">Срок действия</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.FromDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.FromDate, new { @class = "datepicker", placeholder = "С даты", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ToDate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ToDate, new { @class = "datepicker", placeholder = "До даты", startDate = "" })
</div>