@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_NoLinkInternet_View
@using RapidDoc.Extensions;
@{
    Model.Site = "http://www.";
}

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Site)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Site, new { @class = "form-control", @rows = "1", placeholder = "Адрес интернет сайта", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Problem)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Problem, new { @class = "form-control", @rows = "5", placeholder = "Описание", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>