@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_SetUpDVO_View
@using RapidDoc.Extensions;


<div class="editor-label">
    @Html.LabelForRequired(model => Model.ForwardType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.ForwardType, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ForwardPhone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ForwardPhone, new { @class = "form-control", @rows = "1", placeholder = "Номер переадресации", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ForwardNumber)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.ForwardNumber, new { @class = "form-control bfh-number" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Номер телефона пользователя" })
</div>