@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForAssurance_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FullName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FullName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.DateAssurance)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DateAssurance)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.AimAssurance)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.AimAssurance)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.WhereAndWhom)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.WhereAndWhom)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.CountExamples)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.CountExamples)
</div>