@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRCardWork_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)

@Html.HiddenFor(model => model.OnPosition)
@Html.HiddenFor(model => model.Name)
@Html.HiddenFor(model => model.Department)
@Html.HiddenFor(model => model.Phone)
@Html.HiddenFor(model => model.UserChooseManual1)
@Html.HiddenFor(model => model.Circumstances)
@Html.HiddenFor(model => model.SalaryCode)
@Html.HiddenFor(model => model.Period)
@Html.HiddenFor(model => model.Schedule)
@Html.HiddenFor(model => model.Solution)
@Html.HiddenFor(model => model.Status)
@Html.HiddenFor(model => model.External)
@Html.HiddenFor(model => model.Report1)
@Html.HiddenFor(model => model.DateInterview1)
@Html.HiddenFor(model => model.Opinion1)
@Html.HiddenFor(model => model.Reason1)
<hr />
<h4 class="text-info" style="text-align:left;">2-ое собеседование (Заключение Непосредственного Руководителя)</h4>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Tutor)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Tutor, new { @class = "form-control", placeholder = "Наставник" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Report2)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Report2, new { @class = "form-control", @row = 5, placeholder = "Отчет" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateInterview2)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateInterview2, new { @class = "datepicker form-control form-control-date", placeholder = "Дата собеседования или телефоного интервью", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Opinion2)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.Opinion2, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason2)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason2, new { @class = "form-control", @row = 5, placeholder = "Причины" })
</div>

