@model RapidDoc.Models.ViewModels.USR_REQ_JU_RequestForExplanationNormalAct_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>
<h4 class="text-info">Нормативный правовой акт (НПА)</h4>

<div class="editor-label">
    @Html.LabelFor(model => Model.NumberDoc)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.NumberDoc)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Date)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Date)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FullName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.FullName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.OwnMind)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.OwnMind)
</div>


