@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_AddUserSubscription_View
@using RapidDoc.Extensions;

<h5>Группа рассылки:</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_GMO)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_GMO, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_II_ST_DOIZM)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_II_ST_DOIZM, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_KKD)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_KKD, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_KSMD)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_KSMD, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_OSPViHH)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_OSPViHH, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_OTDiI)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_OTDiI, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RTDUET_RAZDFLOT)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RTDUET_RAZDFLOT, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.GuideZIF)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.GuideZIF, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.HR_Kokshetau)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.HR_Kokshetau, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.MeetingTB_ZIF)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.MeetingTB_ZIF, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.DispetcherGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.DispetcherGroup, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.InternalAuditGroup)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.InternalAuditGroup, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Reservist2014)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Reservist2014, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.RT_Duet_Comments)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.RT_Duet_Comments, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.dailydigest)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.dailydigest, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.raigorodok)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.raigorodok, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.PISystemClients)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.PISystemClients, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Manager)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Manager, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.IspolnitelnyeDirektoraATK)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.IspolnitelnyeDirektoraATK, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.Otan)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.Otan, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.NachalnikiUpravleniyATK)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NachalnikiUpravleniyATK, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.NachalnikiSluzhbATK)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.NachalnikiSluzhbATK, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.SvodkaOTK)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.SvodkaOTK, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.OperationalNotificationKazzinc)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.OperationalNotificationKazzinc, new { @disabled = true })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.DispatchersDailyReports)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.DispatchersDailyReports, new { @disabled = true })</td>
    </tr>
    <tr class="editor-field">
        <td style="text-align:left;">@Html.LabelFor(model => Model.ChiefAccountantATK)</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => Model.ChiefAccountantATK, new { @disabled = true })</td>
    </tr>
</table>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>