@model RapidDoc.Models.ViewModels.USR_REQ_KD_RequestForCompetitonProcServicesBGP_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.NamePurchase)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.NamePurchase, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Наименование закупа", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.BudgetArticle)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.BudgetArticle, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Статья бюджета" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Project)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Project, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Проект" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Amount)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Amount, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Общая сумма, выделенная для закупки (в тенге, без учета НДС)" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Circumstance)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Circumstance, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Условия оплаты" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Destination)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Destination, new { @class = "form-control", @size = 256, @maxlength = 256, placeholder = "Место поставки товара" })
</div>

<hr />
<div class="alert alert-info" role="alert">
    <p>Инструкция по оформлению проекта КД:</p>
    <p>Инициатор БД заявки заполняет в шаблоне КД строки выделенные желтым цветом. БД заявки направленные без оформленного проекта КД будут отклонены.</p>
</div>