@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_SetUpDVO_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.ForwardType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.ForwardType, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.ForwardPhone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ForwardPhone)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ForwardNumber)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => model.ForwardNumber)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Phone)
</div>