@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRChGraphTime_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>
<hr />
<h4 class="text-info" style="text-align:left;">Прошу вас согласовать изменение графиков выходов:</h4>
<div class="table-responsivelarge" style="font-size:small;">
    <table class="table table-condensed table-bordered table-bordered-bold">
        <thead>
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Подразделение</th>
                <th>График утвержденный</th>
                <th>Продолжительность рабочей смены</th>
                <th>График скорректированный</th>
                <th>Продолжительность рабочей смены</th>
                <th>Причина изменения</th>
                <th>Период изменения</th>
            </tr>
        </thead>
        <tbody>
            @if(!String.IsNullOrEmpty(Model.Name1))
            {
            <tr>
                <td>
                    1
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect1)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration1)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason1)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate1)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate1)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name2))
            {
            <tr>
                <td>
                    2
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect2)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration2)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason2)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate2)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate2)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name3))
            {
            <tr>
                <td>
                    3
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect3)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration3)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason3)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate3)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate3)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name4))
            {
            <tr>
                <td>
                    4
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect4)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration4)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason4)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate4)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate4)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name5))
            {
            <tr>
                <td>
                    5
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department5)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics5)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration5)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect5)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration5)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason5)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate5)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate5)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name6))
            {
            <tr>
                <td>
                    6
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department6)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics6)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration6)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect6)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration6)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason6)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate6)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate6)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name7))
            {
            <tr>
                <td>
                    7
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department7)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics7)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration7)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect7)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration7)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason7)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate7)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate7)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name8))
            {
            <tr>
                <td>
                    8
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department8)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics8)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration8)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect8)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration8)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason8)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate8)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate8)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name9))
            {
            <tr>
                <td>
                    9
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department9)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics9)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration9)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect9)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration9)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason9)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate9)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate9)
                </td>
            </tr>
            }
            @if(!String.IsNullOrEmpty(Model.Name10))
            {
            <tr>
                <td>
                    10
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Name10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Position10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Department10)
                </td>
                <td>
                    @Html.EnumToDescription(Model.Graphics10)
                </td>
                <td>
                    @Html.EnumToDescription(Model.FirstDuration10)
                </td>
                <td>
                    @Html.EnumToDescription(Model.GraphicsCorrect10)
                </td>
                <td>
                    @Html.EnumToDescription(Model.SecondDuration10)
                </td>
                <td>
                    @Html.DisplayTextFor(model => Model.Reason10)
                </td>
                <td>
                    C @Html.DisplayTextFor(model => Model.StartDate10)
                    по
                    @Html.DisplayTextFor(model => Model.EndDate10)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<hr />