@model RapidDoc.Models.ViewModels.USR_REQ_TRIP_RegistrationBusinessTripForeign_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Title)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.CategoryTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.CategoryTrip, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.TypeTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.TypeTrip, new { @disabled = true })
</div>

<hr />
<h4 class="text-info">Срок командировки</h4>

<div>
    @Html.LabelFor(model => Model.StartDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.StartDate)
</div>
<div>
    @Html.LabelFor(model => Model.EndDate)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.EndDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Days)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Days)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.City)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.City)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Purpose)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PassageTrip)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PassageTrip, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Organization)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Organization)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PaymentTripPassage)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripPassage, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PaymentTripDaily)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripDaily, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PaymentTripLive)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.PaymentTripLive, new { @disabled = true })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Description)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Description)
</div>