@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            @Html.EnumToDescription(Model.Folder) / @Html.DisplayTextFor(model => Model.ItemCauseNumber)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => Model.DocumentTitle):
    </div>
    <div class="col-md-10">
        @Html.DisplayTextFor(model => Model.DocumentTitle)
    </div>
</div>
<hr />
<div class="well">
    @Html.DisplayTextFor(model => Model.MainField)
</div>