@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForHRCardITR2_View
@using RapidDoc.Extensions;

<hr />
<h4 class="text-info" style="text-align:left;">Рекруткарта</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.OnPosition)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.OnPosition, new { @class = "form-control", placeholder = "На должность", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = "ФИО кандидата" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control", placeholder = "Телефон" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Непосредственный руководитель" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Tutor)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Tutor, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "Наставник" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual2)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual2, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "Начальник управления" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual3)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual3, new { @class = "form-control", @data_role = "tagsinputEmpl4", @size = 256, @maxlength = 256, placeholder = "Исполнительный директор" })
</div>

<hr />
<h4 class="text-info" style="text-align:left;">1-ое собеседование (Заключение УРП)</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Report1)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Report1, new { @class = "form-control", @row = 5, placeholder = "Отчет" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DateInterview1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.DateInterview1, new { @class = "datepicker form-control form-control-date", placeholder = "Дата собеседования или телефоного интервью", startDate = "" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Opinion1)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.Opinion1, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason1)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason1, new { @class = "form-control", @row = 5, placeholder = "Причины" })
</div>

<hr />
<h4 class="text-info" style="text-align:left;">Условия найма</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Circumstances)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Circumstances, new { @class = "form-control", @row = 5, placeholder = "Условия" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.SalaryCode)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.SalaryCode, new { @class = "form-control", placeholder = "Код установленной ЗП" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Period)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Period, new { @class = "form-control", placeholder = "Испытательный срок" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Schedule)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Schedule, new { @class = "form-control", placeholder = "Режим (график) работы" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Solution)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Solution, new { @class = "form-control", placeholder = "Решение кандидата" })
</div>

<hr />
<h4 class="text-info" style="text-align:left;">Примечание</h4>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Status)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.Status, new { @class = "selectpicker" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.External)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.External)
</div>


