@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForReductionThird_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение", @autofocus = "required"})
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Руководитель подразделения - нарушителя" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual2)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual2, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "ИД Блока подразделения нарушителя" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual3)
</div>;
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual3, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "ИД Блока инициатора" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Period)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Period, new { @class = "form-control", placeholder = "Период" })
</div>