@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForForeignVisa_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.FirstName)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.FirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.DateAndPlace)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DateAndPlace)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Citizenship)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Citizenship)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Nationality)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Nationality)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Passport)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Passport)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Position)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Position)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Address)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Address)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.PlaceVisa)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.PlaceVisa)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Period)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Period)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Multiplicity)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Multiplicity)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Purpose)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Purpose)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.Route)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Route)
</div>