@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_DeliveryOfComponentsWS_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.WSComponents)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.WSComponents, new { @class = "selectpicker" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.RequestText, new { @class = "form-control", @rows = "10", placeholder = "Место установки", @autofocus = "required" })
</div>
<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>