@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTP_IncidentIT_View
@using RapidDoc.Extensions;

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.DocumentTableId)
@Html.HiddenFor(model => model.Phone)
@Html.HiddenFor(model => model.RequestText)
@Html.HiddenFor(model => model.Users)
@Html.HiddenFor(model => model.ServiceName)
@Html.HiddenFor(model => model.ServiceIncidientLevel)
@Html.HiddenFor(model => model.ServiceIncidientPriority)
@Html.HiddenFor(model => model.ServiceIncidientLocation)
<hr>
<h3>Заполняет администратор HelpDesk</h3>
<div class="editor-label">
    @Html.LabelFor(model => model.ServiceName)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => model.ServiceName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ServiceIncidientLevel)
</div>
<div class="editor-field">
    @Html.EnumToDescription(Model.ServiceIncidientLevel)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ServiceIncidientPriority)
</div>
<div class="editor-field">
    @Html.EnumToDescription(Model.ServiceIncidientPriority)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.ServiceIncidientLocation)
</div>
<div class="editor-field">
    @Html.EnumToDescription(Model.ServiceIncidientLocation)
</div>
