@model RapidDoc.Models.ViewModels.USR_REQ_IT_ERP_RequestPermission1C77_View
@using RapidDoc.Extensions;

<h4 class="text-info">Список  доступных баз:</h4>
<h5 class="text-danger">отметьте нужные Вам базы галочками</h5>
<table cellpadding="10" cellspacing="10">
    <tr class="editor-field">
        <td style="text-align:left;">Altynavto_old</td>
        <td style="text-align: center; width: 5%;">@Html.CheckBoxFor(model => model.Altynavto_old)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight01, new { @class = "selectpicker" })</td>
    </tr>
   
    <tr class="editor-field">
        <td style="text-align:left;">ATK2010</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.ATK2010)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight02, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Goldservice2002_2003</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Goldservice2002_2003)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight03, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Goldservice2004_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Goldservice2004_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight04, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2005_db</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vg_2005_db)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight05, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2006</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vg_2006)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight06, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vg_2008</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vg_2008)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight07, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vgok_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight08, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_2009</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vgok_2009)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight09, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">vgok_zp_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.vgok_zp_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight10, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Zarp2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Zarp2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight11, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.CP)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight12, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.CP_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight13, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2004</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.CP_2004)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight14, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">CP_2003</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.CP_2003)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight15, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight16, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2006</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2006)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight17, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2007</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2007)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight18, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2009</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2009)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight19, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2010</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2010)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight20, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_2011</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_2011)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight21, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">NarTab_AMY</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.NarTab_AMY)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight22, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Base)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight23, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base_2003</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Base_2003)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight24, new { @class = "selectpicker" })</td>
    </tr>

    <tr class="editor-field">
        <td style="text-align:left;">Base_2005</td>
        <td style="text-align: center; width: 5%;">@Html.EditorFor(model => model.Base_2005)</td>
        <td style="text-align:left; width: 95%;">@Html.EnumDropDownListFor(model => model.AccessRight25, new { @class = "selectpicker" })</td>
    </tr>
</table>

<hr />
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>
