@model RapidDoc.Models.ViewModels.USR_REQ_URP_RequestForAccrualZIF_View
@using RapidDoc.Extensions;

<h4 class="text-info">Направляем Вам информацию по исполнению критериев результативности для начисления ежемесячной премии:</h4>

<div class="editor-label">
    @Html.LabelFor(model => Model.Department)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Department)
</div>

<div class="editor-label">
    @Html.LabelFor(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.UserChooseManual1)
</div>

<div>
    @Html.LabelFor(model => Model.Period)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Period)
</div>