@model RapidDoc.Models.ViewModels.USR_REQ_IT_CTS_DisassemblingOfWS_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelFor(model => Model.WSType)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => Model.WSType, new { @disabled = true })
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Reason)
</div>
<div class="editor-label">
    @Html.LabelFor(model => Model.RequestText)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.RequestText)
</div>
<hr />
<div class="editor-label">
    @Html.LabelFor(model => Model.Users)
</div>
<div class="editor-field">
    @Html.HtmlDisplayTagsFor(model => Model.Users)
</div>
