@model RapidDoc.Models.ViewModels.USR_REQ_IT_CAP_CreateSubscription_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.GroupName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.GroupName, new { @class = "form-control", @rows = "1", placeholder = "Наименование группы рассылки", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.GroupUsers)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.GroupUsers, new { @class = "form-control", @rows = "5", placeholder = "Состав группы рассылки", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Reason)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Reason, new { @class = "form-control", @rows = "5", placeholder = "Обоснование", @autofocus = "required" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Users)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Users, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Имя Фамилия" })
</div>