@model RapidDoc.Models.ViewModels.USR_REQ_UZL_RequestForPeopleAcceptanceItems_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Iniciator)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Iniciator, new { @class = "form-control", @data_role = "tagsinputEmpl", @size = 256, @maxlength = 256, placeholder = "Инициатор", @autofocus = "required" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department, new { @class = "form-control", placeholder = "Подразделение" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ContactPhone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.ContactPhone, new { @class = "form-control", placeholder = "Контактные телефоны" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Theme)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Theme, new { @class = "form-control", placeholder = "Тема" })
</div>
<hr />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual1, new { @class = "form-control", @data_role = "tagsinputEmpl2", @size = 256, @maxlength = 256, placeholder = "ФИО Руководителя 1" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department1)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department1, new { @class = "form-control", placeholder = "Подразделение" })
</div>
<hr />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual2)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual2, new { @class = "form-control", @data_role = "tagsinputEmpl3", @size = 256, @maxlength = 256, placeholder = "ФИО Руководителя 2" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department2)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department2, new { @class = "form-control", placeholder = "Подразделение" })
</div>
<hr />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual3)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual3, new { @class = "form-control", @data_role = "tagsinputEmpl4", @size = 256, @maxlength = 256, placeholder = "ФИО Руководителя 3" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department3)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department3, new { @class = "form-control", placeholder = "Подразделение" })
</div>
<hr />

<div class="editor-label">
    @Html.LabelForRequired(model => Model.UserChooseManual4)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.UserChooseManual4, new { @class = "form-control", @data_role = "tagsinputEmpl5", @size = 256, @maxlength = 256, placeholder = "ФИО Руководителя 4" })
</div>
<div class="editor-label">
    @Html.LabelForRequired(model => Model.Department4)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Department4, new { @class = "form-control", placeholder = "Подразделение" })
</div>