@model RapidDoc.Models.ViewModels.USR_REQ_UE_RequestForDismantling_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Date)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Date, new { @class = "datetimepicker", placeholder = "Дата/время проведения буровзравных работ", startDate = "", @autofocus = "required" })
</div>
<hr />
<div class="alert alert-info" role="alert">
    <p>Примечание: (с учетом продолжительности дня)</p>
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Description)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @row = 5, placeholder = "КТП, количество опор и пролетов" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.AvailableEqu)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => Model.AvailableEqu, new { @class = "form-control", @row = 5, placeholder = "Наличие техники" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Telephone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Telephone, new { @class = "form-control", placeholder = "Контактный телефон" })
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Person)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => Model.Person, new { @class = "form-control", placeholder = "Лицо, ответственное за подготовку рабочего места" })
</div>

<hr />
<div class="alert alert-info" role="alert">
    <p>Комментарии: Внимание! Заявка должна быть подана до 12:00 часов за день до проведения буровзрывных работ для своевременного заказа транспорта.</p>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.datetimepicker').datepicker(); //Initialise any date pickers
    </script>
}