@model RapidDoc.Models.ViewModels.USR_OFM_UIT_OfficeMemo_View
@using RapidDoc.Extensions;

<div class="editor-label">
    @Html.LabelForRequired(model => Model.Folder)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.Folder)
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.ItemCauseNumber)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.ItemCauseNumber)
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.DocumentTitle)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.DocumentTitle)
</div>

<div class="editor-label">
    @Html.LabelForRequired(model => Model.MainField)
</div>
<div class="editor-field">
    @Html.DisplayTextFor(model => Model.MainField)
</div>